



.pcview .poverlay .sumary .exe {}
// .item-block {align-items: normal !important; min-height: 3.4rem !important;}



.nextdat { background: #1D2534; padding: 16px; margin: 0 -16px; margin-bottom: 15px;  display: block;
    span {display: block; font-size: 2rem; color: #fff !important;}
}




.nutrition{ text-align: left;
  .nicon svg {width: 40px; height: 40px;float: right;}
}

