<ion-header class=" head back">
  <ion-toolbar class="hedfm"> 
    <ion-buttons  slot="start" >
      <ion-button slot="icon-only" (click)="backButtonAction()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.028 56">
            <path id="Back" d="M60.048,61.921a1.981,1.981,0,0,0,2.8,0,1.981,1.981,0,0,0,0-2.8L38.228,34.5,62.848,9.879a1.98,1.98,0,0,0-2.8-2.8L33.979,33.1a1.981,1.981,0,0,0,0,2.8Z" transform="translate(-33.4 -6.5)"/>
          </svg>
      </ion-button>
    </ion-buttons>
    <ion-title>Summary</ion-title>
  
  </ion-toolbar> 
 </ion-header>
 


<ion-content class=" pcview">

  <div class=" poverlay">
    <div class="pctitle ">


        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
          <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
          <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
        </svg>
                
        <h2>Hey, <span>{{firstname}}!</span></h2>
        <h3> You have done a Good Job</h3>
        <!-- <h1>All Exercises were Skipped</h1> -->
    </div>


    <!--Summary Section-->
    <!-- <div class="sumary"> -->

          <!-- <h3>Summary</h3> -->

          <div class="text-left session">
            <div class="scrol min" scrollX="true">
              <ion-button id="sessionSeg{{session.session_id}}" *ngFor="let session of tempSessionData; let i = index" [ngClass]="{'active': session.session_id == currentDisplaySes}" (click)="getActivity(session.session_id)">{{session.session_name}} </ion-button>
            
            </div>
          </div><!-- End Session Block-->

          <ion-card class="fulpad text-left sumry" >
            <ion-row >
              <ion-col size="6"><h3>Workout</h3> </ion-col>
              <!--<ion-col class="nopad" size="6">
                <ion-select interface="popover" role="combobox"  placeholder="Activity">
                  <ion-select-option  *ngFor="let activity of tempActivity; let i = index" (click)="getAction(activity.activity_id,activity.Activity_type)" [ngClass]="{'active': activity.activity_id == currentactivity_id}" >Activity{{i+1 }} </ion-select-option>
                </ion-select>
              </ion-col>-->
              
            </ion-row>
            <ion-row >
              <ul>
                  <li *ngFor="let activity of tempActivity; let i = index" (click)="getAction(activity.activity_id,activity.Activity_type)" [ngClass]="{'active': activity.activity_id == currentactivity_id}">Activity{{i+1 }}</li>
              </ul>
            </ion-row>
    
            <ion-row>
              <div class="scrol min" scrollX="true">
                <ul>
                  <li *ngFor="let exe of tempExeData; let i = index">{{exe.exerciseName}}</li>
                </ul>
              </div>
            </ion-row>
    
            <ion-row class="count">
              <ion-col size="4">
                  <span>{{totalreps}}  </span>
                  <em>Reps</em>
              </ion-col>
              <ion-col  size="4" >
                  <span>{{Tmax}} </span>
                  <em>Est. Tmax </em>
              </ion-col>
              <ion-col size="4">
                <span>{{Tonnage}} </span>
                <em>Tonnage </em>
              </ion-col>
              <ion-col size="4">
                  <span>{{totalweight}} </span>
                  <em>Avg Weight </em>
              </ion-col>
              <ion-col size="4">
                <span>{{cal}}</span>
                <em>Calories</em>
              </ion-col>
              <ion-col size="4">
                  <span>{{Work}} </span>
                  <em>Work </em>
              </ion-col>
              
            </ion-row>
    
        </ion-card><!-- End Summary Block-->
        
      
      
      <!-- <div class=" complxname">
        <div class="scrol min" scrollX="true">
          <span *ngFor="let exe of tempExeData; let i = index">{{exe.exerciseName}}</span>              
        </div>
      </div> -->
          
        
      <div class="exelist" >
        <!-- <h2>{{exe.exerciseName}}</h2> -->
        <!-- <div class="exesumry"   >
          <ion-row>
            <ion-col size="4">
                <span>{{totalreps}}<em>Total Reps</em>  </span>
            </ion-col>
            <ion-col size="4" *ngIf="!Showtmax">
                <span>{{Tmax}}<em>Est. Tmax </em>  </span>
            </ion-col>
            <ion-col size="4">
                <span>{{totalweight}}<em>Avg Weight </em>  </span>
            </ion-col>
            <ion-col size="4">
                <span>{{Tonnage}}<em>Tonnage (Tons)</em>  </span>
            </ion-col>
            <ion-col size="4">
                <span>{{Work}}<em>Work (Joules)</em>  </span>
            </ion-col>
            <ion-col size="4">
                <span>{{cal}}<em>Calories (Cal)</em>  </span>
            </ion-col>
          </ion-row>
        </div> -->

      </div>
    <!-- </div> -->
    <!-- End Summary Section -->

     <!-- <div class="nextdat">
          Next Workout is on <span> {{nextDate}}</span>
      </div> -->


    <!-- /* Nutrition Starts */ -->
    <div class="nutrition adtitle "  >
      <h1>Nutrition </h1>

      <ion-row class="lgraph ">
        <ion-col><em>19.4  g</em><span>Fat</span></ion-col>
        <ion-col><em>321 g</em><span>Protein</span></ion-col>
        <ion-col><em>102 g</em><span>Carbohydrate</span></ion-col>
        <ion-col><em>{{cal}}</em><span>Calories</span></ion-col>
     </ion-row>

     <ion-button expand="block" (click)="dietInfo()">Add Meal</ion-button>

      <!-- <div class="nicon">
          
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
            <g id="cutlery" transform="translate(0 -11.586)">
              <rect id="Rectangle_138842" data-name="Rectangle 138842"  transform="translate(0 11.586)" fill="none"/>
              <path id="Path_8517" data-name="Path 8517" d="M361.3,40.785a1.437,1.437,0,0,0-2.032,0l-14.9,14.895a1.437,1.437,0,0,0,2.032,2.032l14.9-14.895A1.437,1.437,0,0,0,361.3,40.785Z" transform="translate(-290.208 -22.594)"/>
              <path id="Path_8518" data-name="Path 8518" d="M387.224,66.3a1.437,1.437,0,0,0-2.032,0L370.3,81.195a1.437,1.437,0,0,0,2.032,2.032l14.9-14.9A1.436,1.436,0,0,0,387.224,66.3Z" transform="translate(-312.083 -44.122)"/>
              <path id="Path_8519" data-name="Path 8519" d="M84,116.458l18.49-18.49a1.437,1.437,0,0,0-2.032-2.032l-18.49,18.49a7.629,7.629,0,0,1-8.667,1.488,1.436,1.436,0,0,0-1.694.343l-6.283,7.079-.008.008-.007.009L38.154,153.944l-.02.024c-.09.105-.174.2-.26.283a4.6,4.6,0,1,1-6.5-6.5c.083-.084.176-.168.282-.258l.024-.02L48.655,132.4a1.437,1.437,0,1,0-1.907-2.149L29.783,145.31c-.162.138-.307.272-.443.408A7.471,7.471,0,0,0,39.9,156.284c.138-.138.272-.283.409-.444l20.693-23.313L81.7,155.84c.137.161.271.306.408.443a7.471,7.471,0,0,0,10.567-10.565c-.137-.138-.283-.272-.443-.409L68.419,124.176l4.659-5.249A10.51,10.51,0,0,0,84,116.458Zm6.335,31.011.024.02c.105.09.2.174.283.26a4.6,4.6,0,1,1-6.5,6.5c-.085-.085-.17-.177-.259-.282l-.02-.024L62.927,130.363l3.584-4.038Z" transform="translate(-22.909 -69.127)"/>
              <path id="Path_8520" data-name="Path 8520" d="M66.778,14.007a1.437,1.437,0,0,0-2.032,0L46.256,32.5a10.509,10.509,0,0,0-2.47,10.921l-5.69,5.05-5.468-4.854a14.449,14.449,0,0,0-2.691-16.807c-4.456-4.456-9.617-7.592-14.533-8.829-5.132-1.292-9.531-.429-12.39,2.429S-.706,27.666.586,32.8c1.238,4.915,4.373,10.077,8.83,14.532a14.448,14.448,0,0,0,16.807,2.691l5.415,6.1a1.437,1.437,0,0,0,2.028.121L46.458,44.889A1.437,1.437,0,0,0,46.8,43.2a7.627,7.627,0,0,1,1.488-8.667l18.49-18.49A1.437,1.437,0,0,0,66.778,14.007ZM32.833,53.141,27.6,47.249a1.436,1.436,0,0,0-1.828-.269A11.59,11.59,0,0,1,11.446,45.3C7.352,41.2,4.484,36.516,3.371,32.1c-1.035-4.112-.44-7.542,1.675-9.657s5.545-2.71,9.656-1.674c4.42,1.113,9.109,3.98,13.2,8.075a11.59,11.59,0,0,1,1.682,14.329A1.437,1.437,0,0,0,29.856,45l6.076,5.393Z" transform="translate(0)"/>
            </g>
          </svg>
          <ion-button class="nomarg" (click)="dietInfo()">Add Meal</ion-button>
      </div> -->
      
    </div>
    
  </div>



</ion-content>


