<ion-header class=" head back">
  <ion-toolbar class="hedfm"> 

    <ion-buttons  slot="start" >
      <ion-button slot="icon-only" (click)="backButtonAction()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.028 56">
            <path id="Back" d="M60.048,61.921a1.981,1.981,0,0,0,2.8,0,1.981,1.981,0,0,0,0-2.8L38.228,34.5,62.848,9.879a1.98,1.98,0,0,0-2.8-2.8L33.979,33.1a1.981,1.981,0,0,0,0,2.8Z" transform="translate(-33.4 -6.5)"/>
          </svg>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons  slot="end" >
      <ion-button slot="icon-only" (click)="backButtonAction()">
        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 90.302 90.302">
          <g id="close" transform="translate(0 0)">
              <path id="Path_119" data-name="Path 119" d="M164.092,159.542a3.925,3.925,0,1,0-5.492,5.609L189.5,195.4a3.925,3.925,0,0,0,5.491-5.61Z" transform="translate(-105.869 -106.215)" />
              <path id="Path_120" data-name="Path 120" d="M108.926,114.476a3.925,3.925,0,1,0,5.551-5.551L84.886,79.334a3.925,3.925,0,0,0-5.55,5.55Z" transform="translate(-78.185 -78.185)" />
              <path id="Path_121" data-name="Path 121" d="M167.341,79.331a3.913,3.913,0,0,0-5.533,0L79.331,161.807a3.913,3.913,0,0,0,5.534,5.533l82.476-82.476A3.914,3.914,0,0,0,167.341,79.331Z" transform="translate(-78.185 -78.185)"/>
          </g>
        </svg>
      </ion-button>
    </ion-buttons> -->

    <ion-title>Edit Tmax </ion-title>
  </ion-toolbar> 

</ion-header>


<ion-content class=" tmax">
 
<div class="fulpad ">

 
    <!-- <form #exTmaxForm="ngForm">
      <label>Tmax: {{tmax}} {{metric}}</label>
      <ion-input type="tel" name ='ex{{exercise}}' pattern="[1-9][0-9]*" 
      id="ex{{exId}}" minlength="2" maxlength="3" [(ngModel)]='exerciseTmax' required></ion-input>
      
    </form> -->

    <form #exTmaxForm="ngForm">
      <!-- <ion-item class="tmxbrd" > 
        <ion-label class="posabs">
            <span>Work Weight</span>
        </ion-label>
        <ion-input type="tel" name ='ex{{exercise}}' pattern="[1-9][0-9]*"  id="ex{{exId}}" minlength="2" maxlength="3" [(ngModel)]='exerciseTmax' readonly></ion-input>
      </ion-item> -->

      <div class="infild  ">
        <h4>{{exercise}}</h4>
        <ion-item class="sbgw " >
          <ion-row>
            <ion-col ><em>Work Weight</em></ion-col>
            <ion-col  ><span>{{workweight}}{{metric}}</span></ion-col>
          </ion-row>
          </ion-item >
        </div>

        <div class="infild  ">
          <ion-item class="sbgw " >
            <ion-row>
              <ion-col ><em>Tmax</em></ion-col>
              <ion-col ><ion-input type="tel" name ='ex{{exercise}}' pattern="[1-9][0-9]*"  id="ex{{exId}}" minlength="2" maxlength="3" [(ngModel)]='exerciseTmax' required (ionChange)='changeWorkweight()'></ion-input>{{metric}}</ion-col>
            </ion-row>
            </ion-item >
          </div>

      <!-- <ion-item class="sbgw" >
        <ion-row class="hed" >
          <span>Tmax</span>
          <ion-input type="tel" name ='ex{{exercise}}' pattern="[1-9][0-9]*"  id="ex{{exId}}" minlength="2" maxlength="3" [(ngModel)]='exerciseTmax' required></ion-input>
        </ion-row>
      </ion-item> -->



    </form>
    <ion-button expand="block" (click)="saveExerciseTmax()" [disabled]="!exTmaxForm.form.valid"> Save</ion-button> 

</div>
<div class="fulpad">
  <p>Training Tmax is the maximum weight you could do for 1Rep for an exercise.</p>
  <p>Stratfit has approx estimated your training maxes based on your biometric data and training level.</p>
  <p>Stratfit will auto correct your training maxes during training or you can manually change them at any time.</p>
</div>
 
</ion-content>


  
      