<ion-header class=" head">
    <ion-toolbar class="hedfm">
        <ion-title><span>Your Fitness</span>Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="db" >

    <div class="fulpad nopadb profile" (click)="openTab('settings')">
        <ion-card class=" nobg user" >
            <ion-item>
                <ion-avatar  slot="start" *ngIf="avatar !='' && avatar !='null' && avatar">
                    <img src={{upavatar}} (error)="onAvatarError()" />
                </ion-avatar>
                <ion-avatar  slot="start" *ngIf="(avatar =='' || avatar =='null' || avatar ==undefined) && avatar">
                    <img src="assets/images/icon.png"/>
                </ion-avatar>
            
                <div class="title">
                    <h2>{{firstname}} {{lastname}}</h2>
                    <em>{{email}}</em>

                </div>
            </ion-item>
        </ion-card> 

    </div> <!-- End Profile-->

<div class="fulpad nopadb workout">
  <h1>My Workout <span>{{today | date}}</span></h1>

  <ion-row class="fulpad dcard" *ngIf='!noplan && !todayRestDay && !todaySessionComplete && !noPlanActive && !planComplete' (click)="openTab('workout')">
      
          <h3 >{{planInfo.planName}}</h3>
         
          <span> {{percentageDays}}%</span>
          <div class="loader probar" >
  
                <div class="progress-outer">
                    <div class="progress-inner" [style.width]="percentageDays + '%'">
                        {{percentageDays}}%
                    </div>
                </div>
            </div>

          <div class="wrkbtm">
              <em>{{planInfo.coachName}}</em>
              <ion-button slot="end" (click)="openTab('workout')">
                  Start 
                  <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 54 54">
                      <g id="start" transform="translate(-966 -1035)">
                          <rect id="Rectangle_138887" data-name="Rectangle 138887" transform="translate(966 1035)" fill="#80b419"/>
                          <path id="Next" d="M12.745,26.506a.948.948,0,0,0,1.339,0,.948.948,0,0,0,0-1.339L2.309,13.392,14.084,1.616A.947.947,0,0,0,12.745.277L.277,12.722a.948.948,0,0,0,0,1.339Z" transform="translate(1000.361 1075.782) rotate(180)" fill="#fff"/>
                      </g>
                  </svg>
                    
              </ion-button>
          </div>
      
  </ion-row>


  <ion-row class="fulpad dcard valid"  *ngIf='noplan'>
    
          <h3>You are not subscribed to any plan...</h3>

          <div class="wrkbtm">
              <ion-button (click)="gotoStore()">
                  Store 
                  <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 54 54">
                      <g id="start" transform="translate(-966 -1035)">
                          <rect id="Rectangle_138887" data-name="Rectangle 138887" transform="translate(966 1035)" fill="#80b419"/>
                          <path id="Next" d="M12.745,26.506a.948.948,0,0,0,1.339,0,.948.948,0,0,0,0-1.339L2.309,13.392,14.084,1.616A.947.947,0,0,0,12.745.277L.277,12.722a.948.948,0,0,0,0,1.339Z" transform="translate(1000.361 1075.782) rotate(180)" fill="#fff"/>
                      </g>
                  </svg>
                    
              </ion-button>
          </div>
    
  </ion-row>

  <ion-row class="fulpad dcard valid"  *ngIf='planComplete'>
      
          <h3>Program has been completed.</h3>
          <p> Please subscribe again or choose new program</p>

          <div class="wrkbtm">
              <ion-button slot="start" (click)="planRenew()">Subscribe
                  <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 54 54">
                      <g id="start" transform="translate(-966 -1035)">
                          <rect id="Rectangle_138887" data-name="Rectangle 138887" transform="translate(966 1035)" fill="#80b419"/>
                          <path id="Next" d="M12.745,26.506a.948.948,0,0,0,1.339,0,.948.948,0,0,0,0-1.339L2.309,13.392,14.084,1.616A.947.947,0,0,0,12.745.277L.277,12.722a.948.948,0,0,0,0,1.339Z" transform="translate(1000.361 1075.782) rotate(180)" fill="#fff"/>
                      </g>
                  </svg>
              </ion-button>
              <ion-button slot="end" (click)="gotoStore()">Browse Programs 
                  <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 54 54">
                      <g id="start" transform="translate(-966 -1035)">
                          <rect id="Rectangle_138887" data-name="Rectangle 138887" transform="translate(966 1035)" fill="#80b419"/>
                          <path id="Next" d="M12.745,26.506a.948.948,0,0,0,1.339,0,.948.948,0,0,0,0-1.339L2.309,13.392,14.084,1.616A.947.947,0,0,0,12.745.277L.277,12.722a.948.948,0,0,0,0,1.339Z" transform="translate(1000.361 1075.782) rotate(180)" fill="#fff"/>
                      </g>
                  </svg>
              </ion-button>
          </div>
      
  </ion-row>

  <ion-row class="fulpad dcard valid"  *ngIf='todaySessionComplete'>
        <h3 >Session has been completed.</h3>
        <h4 >Next Workout on {{nextWorkoutDateStr}}</h4>
        <div class="wrkbtm">
            <ion-button  (click)="sessionSummary()">
                Today's Summary 
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 54 54">
                    <g id="start" transform="translate(-966 -1035)">
                        <rect id="Rectangle_138887" data-name="Rectangle 138887" transform="translate(966 1035)" fill="#80b419"/>
                        <path id="Next" d="M12.745,26.506a.948.948,0,0,0,1.339,0,.948.948,0,0,0,0-1.339L2.309,13.392,14.084,1.616A.947.947,0,0,0,12.745.277L.277,12.722a.948.948,0,0,0,0,1.339Z" transform="translate(1000.361 1075.782) rotate(180)" fill="#fff"/>
                    </g>
                </svg>
                
            </ion-button>
        </div>
      
  </ion-row>
  
  <ion-row class="fulpad dcard valid"  *ngIf='noPlanActive'>
        <h3 >{{planInfo.planName}}</h3>
        <div class="wrkbtm">
            <ion-button (click)="activatePlan()">
                Activte Program 
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 54 54">
                    <g id="start" transform="translate(-966 -1035)">
                        <rect id="Rectangle_138887" data-name="Rectangle 138887" transform="translate(966 1035)" fill="#80b419"/>
                        <path id="Next" d="M12.745,26.506a.948.948,0,0,0,1.339,0,.948.948,0,0,0,0-1.339L2.309,13.392,14.084,1.616A.947.947,0,0,0,12.745.277L.277,12.722a.948.948,0,0,0,0,1.339Z" transform="translate(1000.361 1075.782) rotate(180)" fill="#fff"/>
                    </g>
                </svg>
                
            </ion-button>
        </div>
      
  </ion-row>

  <ion-row class="fulpad dcard valid"  *ngIf='todayRestDay'>
      
        <h3>Rest Day</h3>
        <p>You can do some warmup</p>  
        <h4 >Next Workout on {{nextWorkoutDateStr}}</h4>                  
        <ion-row class="pcover">
            <video webkit-playsinline playsinline controls autoplay muted loop controlsList="nodownload" src="http://stratfit.net/newExVideo/warmup.mp4" >
            </video>
            
        </ion-row>
        <div class="wrkbtm" *ngIf="showNextWOBtn">
            <ion-button (click)="getNextWorkout()">
                Proceed Next Workout 
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 54 54">
                    <g id="start" transform="translate(-966 -1035)">
                        <rect id="Rectangle_138887" data-name="Rectangle 138887" transform="translate(966 1035)" fill="#80b419"/>
                        <path id="Next" d="M12.745,26.506a.948.948,0,0,0,1.339,0,.948.948,0,0,0,0-1.339L2.309,13.392,14.084,1.616A.947.947,0,0,0,12.745.277L.277,12.722a.948.948,0,0,0,0,1.339Z" transform="translate(1000.361 1075.782) rotate(180)" fill="#fff"/>
                    </g>
                </svg>
                
            </ion-button>
        </div>
     
  </ion-row>
</div><!-- End My Workout-->

<!-- /* Nutrition Starts */ -->

<div class="fulpad nopadb nutrition "  *ngIf='showNutrition'>
  <h1>Nutrition </h1>
  <div class="nicon">
      
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
          <g id="cutlery" transform="translate(0 -11.586)">
            <rect id="Rectangle_138842" data-name="Rectangle 138842"  transform="translate(0 11.586)" fill="none"/>
            <path id="Path_8517" data-name="Path 8517" d="M361.3,40.785a1.437,1.437,0,0,0-2.032,0l-14.9,14.895a1.437,1.437,0,0,0,2.032,2.032l14.9-14.895A1.437,1.437,0,0,0,361.3,40.785Z" transform="translate(-290.208 -22.594)"/>
            <path id="Path_8518" data-name="Path 8518" d="M387.224,66.3a1.437,1.437,0,0,0-2.032,0L370.3,81.195a1.437,1.437,0,0,0,2.032,2.032l14.9-14.9A1.436,1.436,0,0,0,387.224,66.3Z" transform="translate(-312.083 -44.122)"/>
            <path id="Path_8519" data-name="Path 8519" d="M84,116.458l18.49-18.49a1.437,1.437,0,0,0-2.032-2.032l-18.49,18.49a7.629,7.629,0,0,1-8.667,1.488,1.436,1.436,0,0,0-1.694.343l-6.283,7.079-.008.008-.007.009L38.154,153.944l-.02.024c-.09.105-.174.2-.26.283a4.6,4.6,0,1,1-6.5-6.5c.083-.084.176-.168.282-.258l.024-.02L48.655,132.4a1.437,1.437,0,1,0-1.907-2.149L29.783,145.31c-.162.138-.307.272-.443.408A7.471,7.471,0,0,0,39.9,156.284c.138-.138.272-.283.409-.444l20.693-23.313L81.7,155.84c.137.161.271.306.408.443a7.471,7.471,0,0,0,10.567-10.565c-.137-.138-.283-.272-.443-.409L68.419,124.176l4.659-5.249A10.51,10.51,0,0,0,84,116.458Zm6.335,31.011.024.02c.105.09.2.174.283.26a4.6,4.6,0,1,1-6.5,6.5c-.085-.085-.17-.177-.259-.282l-.02-.024L62.927,130.363l3.584-4.038Z" transform="translate(-22.909 -69.127)"/>
            <path id="Path_8520" data-name="Path 8520" d="M66.778,14.007a1.437,1.437,0,0,0-2.032,0L46.256,32.5a10.509,10.509,0,0,0-2.47,10.921l-5.69,5.05-5.468-4.854a14.449,14.449,0,0,0-2.691-16.807c-4.456-4.456-9.617-7.592-14.533-8.829-5.132-1.292-9.531-.429-12.39,2.429S-.706,27.666.586,32.8c1.238,4.915,4.373,10.077,8.83,14.532a14.448,14.448,0,0,0,16.807,2.691l5.415,6.1a1.437,1.437,0,0,0,2.028.121L46.458,44.889A1.437,1.437,0,0,0,46.8,43.2a7.627,7.627,0,0,1,1.488-8.667l18.49-18.49A1.437,1.437,0,0,0,66.778,14.007ZM32.833,53.141,27.6,47.249a1.436,1.436,0,0,0-1.828-.269A11.59,11.59,0,0,1,11.446,45.3C7.352,41.2,4.484,36.516,3.371,32.1c-1.035-4.112-.44-7.542,1.675-9.657s5.545-2.71,9.656-1.674c4.42,1.113,9.109,3.98,13.2,8.075a11.59,11.59,0,0,1,1.682,14.329A1.437,1.437,0,0,0,29.856,45l6.076,5.393Z" transform="translate(0)"/>
          </g>
        </svg>
      <ion-button class="nomarg"  (click)="dietInfo()">Add Meal</ion-button>
  </div>
  
</div>
<div class="fulpad nopadb nutrition " *ngIf='!showNutrition' (click)="showMeals()">
  <h1>Nutrition <a>Show Meals </a></h1>

    <div class=" scrol " >
        <ion-col size="4"  class="fat">
            <div class="titl">
                <span>Fat</span>
            </div>
            <circle-progress [percent]="fatGmsBalancePercent" [backgroundStrokeWidth]="0"[backgroundPadding]=" 0"[radius]="100"  [innerStrokeWidth]="10" [outerStrokeWidth]="10" [space]=" -10"[outerStrokeGradient]=" true"[titleFontSize]="40" [unitsFontSize]=" 30" [subtitle]="'Fat'"  [title]="fatGmsIntake+ ' g'" [subtitleFontSize]="30" [animation]="true"[animationDuration]="1000"[showUnits]="true"[outerStrokeColor]= "'#999999'"[innerStrokeColor]= "'#080C14'"[showBackground]="false"[responsive]="true"></circle-progress>
        </ion-col>

    
        <ion-col size="4" class="protein">
            <div class="titl">
                <span>Protein</span>
            </div>

            <circle-progress [percent]="protienGmsBalancePercent" [showTitle]="true"[showSubtitle]="True"[title]="protienGmsIntake+ ' g'"[subtitle]="'Pro'"[backgroundStrokeWidth]="0"[backgroundPadding]=" 0"[radius]="100"  [innerStrokeWidth]="10" [outerStrokeWidth]="10" [space]=" -10"[outerStrokeGradient]=" true"[titleFontSize]="40"[unitsFontSize]=" 30"[subtitleFontSize]="20" [animation]="true"[animationDuration]="1000" [showUnits]="false"[outerStrokeColor]= "'#E33849'"[innerStrokeColor]= "'#080C14'"[showBackground]="false"[responsive]="true"></circle-progress> 

        </ion-col>

        <ion-col size="4" class="carbohydrate">
            <div class="titl">
                <span>Carbohydrate</span>
            </div>

            <circle-progress [percent]="carbsGmsBalancePercent"  [showTitle]="true" [showSubtitle]="True" [title]="carbsGmsIntake+' g'" [subtitle]="'Carbs'" [backgroundStrokeWidth]="0" [backgroundPadding]=" 0" [radius]="100"   [innerStrokeWidth]="10"  [outerStrokeWidth]="10" [space]=" -10" [outerStrokeGradient]=" true" [titleFontSize]="40" [unitsFontSize]=" 30" [subtitleFontSize]="20"  [animation]="true" [animationDuration]="1000" [showUnits]="false" [outerStrokeColor]= "'#E6CF00'" [innerStrokeColor]= "'#080C14'" [showBackground]="false" [responsive]="true"></circle-progress>
        
        </ion-col>
                
        
        <ion-col size="4" class="calorie">
            <div class="titl">
                <span>Calories</span>
            </div>
            
            <circle-progress [percent]="totalCalBalancePercent" [showTitle]="true"[showSubtitle]="True"[title]="calIntake"[subtitle]="'Cal'"[backgroundStrokeWidth]="0"[backgroundPadding]=" 0"[radius]="100"  [innerStrokeWidth]="10" [outerStrokeWidth]="10" [space]=" -10"[outerStrokeGradient]=" true"[titleFontSize]="40"[unitsFontSize]=" 30"[subtitleFontSize]="20" [animation]="true"[animationDuration]="1000"[showUnits]="false"[outerStrokeColor]= "'#00BFE6'"[innerStrokeColor]= "'#080C14'"[showBackground]="false"[responsive]="true"></circle-progress>

        
        </ion-col>
    </div>
</div>   

 <!-- /* End Nutrition */ -->



<div *ngIf='!notActive && !todayRestDay && !planComplete'>
  
<div class="fulpad nopadb analytics" *ngIf='!noplan && !noPlanActive' (click)="openTab('analytics')">
  <h1>Analytics <a>Show</a></h1>

  <ion-card class="sbgbt nomarg" >
      <ion-item class="nobg fulpad">
 
        <ul>
            <li>Total Tonnage <span>{{Tonnage}}<em>Tons</em></span></li>
            <li>Average Weight <span>{{totalweight}}<em>kg</em></span></li>
            <li>Total Work <span>{{Work}}<em>Joules</em></span></li>
            <li>Calories <span>{{cal}} <em>cal</em></span></li>
            <li>Total Reps <span>{{totalreps}}</span></li>
        </ul>
           
     
      </ion-item>
  </ion-card>
  
</div>
</div>

</ion-content>