.loader .progress-inner {color: #0163d1 !important;}

.fulcard { width: auto !important;  z-index: 1; overflow: hidden;
    img { opacity: 1 !important;}
}
// .fulcard:before {content:inherit !important;}
.fulcard .container {padding: 12px !important; top: auto !important; bottom:0; }
.fulcard .container .cdbody .loader {padding:12px 0 !important;}
.fulcard .container .cdbody span {margin-bottom: 5px !important;}

