<ion-header>
    <ion-toolbar color="toolbg">
        <ion-buttons start>
            <button ion-button icon-only start (click)="backButtonAction()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons> 
        <ion-title text-center>Media preview</ion-title>
    </ion-toolbar>
</ion-header>
        
<ion-content>

    <ion-card *ngIf='displayImage'>
        <img [src]='displayImage'/>
    </ion-card>

</ion-content>

<ion-footer color="primary" text-center>
    <button ion-button block icon-right (click)="submitForm()">Upload
        <ion-icon name="cloud-upload"></ion-icon>
    </button>
</ion-footer>
    
        