.fulpad {padding:0 15px !important;}
.slog {margin-bottom: 1rem ; margin-top: 8vh;}
.slog img {width: 30% ; margin: auto; margin-top: 5vh;margin-bottom: 5vh; }
.slog svg {width: 6rem !important; height: 6rem !important; margin: auto;  }



