
.slog {margin-bottom: 1rem ; margin-top: 10vh;}
.slog img {width: 30% ; margin: auto; margin-top: 5vh;margin-bottom: 5vh; }
.slog svg {width: 8rem !important; height: 8rem !important; margin: auto;  }



