<ion-header class=" head">
  <!-- <ion-navbar class="hedfm"> -->
    <ion-buttons ion-start >
      <ion-button icon-only (click)="backButtonAction()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.028 56">
            <path id="Back" d="M60.048,61.921a1.981,1.981,0,0,0,2.8,0,1.981,1.981,0,0,0,0-2.8L38.228,34.5,62.848,9.879a1.98,1.98,0,0,0-2.8-2.8L33.979,33.1a1.981,1.981,0,0,0,0,2.8Z" transform="translate(-33.4 -6.5)"/>
          </svg>
      </ion-button>
    </ion-buttons>
    <ion-title><span>Profile</span>Change Password</ion-title>
  <!-- </ion-navbar> -->
</ion-header>


<ion-content class="sbgrd">

<div class="fulpad">
 
  <ion-list class="inputs">
      <form #changePwdForm="ngForm">
          <ion-item class="sbgw">
              <ion-label floating>
                  <span>Old Password</span>
              </ion-label>
              <ion-input type="{{type}}" minlength="5" maxlength="15" [(ngModel)]="chngpwd.oldpswd" name="old" placeholder="******" required></ion-input>
              <ion-icon *ngIf="!showPass" name="md-eye" (click)="showPassword()" item-right></ion-icon>
              <ion-icon *ngIf="showPass" name="md-eye-off" (click)="showPassword()" item-right></ion-icon>
          </ion-item >

          <ion-item>
              <ion-label floating>
                  <span>New Password</span>
              </ion-label>
              <ion-input type="{{type1}}"  minlength="5" maxlength="15" [(ngModel)]="chngpwd.newpswd" placeholder="******" name="new" required></ion-input>
                  
                  <ion-icon *ngIf="!showNewPass" name="md-eye" (click)="showNewPassword()" item-right></ion-icon>
                  <ion-icon *ngIf="showNewPass" name="md-eye-off" (click)="showNewPassword()" item-right></ion-icon>
          
          </ion-item>

          <ion-item>
              <ion-label floating><span>Confirm Password</span></ion-label>
              <ion-input type="{{type2}}"  minlength="5" maxlength="15" [(ngModel)]="chngpwd.confirmpswd" placeholder="******" name="confirm" required></ion-input>
          
              <ion-icon *ngIf="!showConfirmPass" name="md-eye" (click)="showConfirmPassword()" item-right></ion-icon>
              <ion-icon *ngIf="showConfirmPass" name="md-eye-off" (click)="showConfirmPassword()" item-right></ion-icon>
      
          </ion-item>

          <ion-button [disabled]="!changePwdForm.form.valid" (click)="updatePwd(chngpwd)" id="upwdBtn">Update</ion-button>

      </form>
  </ion-list>
  
</div>

</ion-content>