// .fulcard{max-height: 90vh !important; min-height: 72vh !important; height: 72vh !important; }
.ios{
    .fabicon{bottom: 6rem !important;}
}




    


// /* animation */
//     .free{height: 80px;position: relative;//background: color($colors,primary);
//         background: linear-gradient(to left, #085078, #85d8ce);width: 100%;border-radius: 6px;margin: auto;text-align: center;box-shadow:0px 4px 14px 0px rgba(119, 119, 119, 0.63);
//         h4{position: absolute;top: 16px;right: 0;left: 0;margin: auto;color: color($colors, fwhite);}
//     }
//     .free:after {content:'';top:0;bottom: 0;width:100%;height:100px;position: absolute;z-index:1;animation: slide 2s infinite 3s;transform: rotate(60deg);background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */}

//     @keyframes slide {
//         0% {transform:translateX(-100%);}
//         100% {transform:translateX(100%);}
//     }

    
//     .foot {
//         .button.nobg { margin-right: 0 !important;  }
//     }
    
    


// }
