

// .skip {position: absolute; right: 0; top: 0;
//     .button {border: 0 !important; background: none !important; padding: 20px !important;
//         svg {fill:#fff; width: 1.6rem; height:1.6rem;}
//     }
// }

.fabclose svg, .fabicon svg {width: 4rem; height: 4rem;}