morereps-pop {

  
}

.skip {position: absolute; right: 0; top: 0;
    .button {border: 0 !important; background: none !important; padding: 20px !important;
        svg {fill:#fff; width: 1.6rem; height:1.6rem;}
    }
}

h1{margin:4rem 0 0 0; color: #fff !important ; font-size: 1.4rem;}




.inpgrp {
 h4, ion-item {margin-bottom: 1rem !important;}
 ion-item { width: auto !important;}
.sbgbt {}

ion-button{ margin: auto; width: auto !important;}

}

.tmax .inpgrp ion-item ion-input {text-align: center !important; color: #000 !important;}