
    // .goalori {
    //     ion-item, ion-scroll[scrollX]{min-height:36px !important;}
    //     ion-label { margin: 0 !important; position: static;}
        
        
        
    //     .button-ios.activated, .button-md.activated, .button-md:hover:not(.disable-hover), .swiper-pagination-bullet-active {background: none !important;}
       
    // }
    .store {
        ion-slides, .fulcard {height: 85vh !important; max-height: 85vh !important; min-height: 85vh !important;}

        .gridview .fulcard {height: 14rem !important; max-height: 14rem !important; min-height: 14rem !important;
            img {height: 14rem !important;}
        }
    
        .fulcard {border-radius: 0 !important;
            .swiper-wrapper, .slide-zoom, img {height: 85vh !important;}
        }
    }

    .foot .btnrow ion-button{ float: none !important;}