
<ion-header class=" head">
  <!-- <ion-navbar class="hedfm"> -->
    <ion-buttons ion-start >
      <ion-button ion-button icon-only (click)="backButtonAction()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.028 56">
            <path id="Back" d="M60.048,61.921a1.981,1.981,0,0,0,2.8,0,1.981,1.981,0,0,0,0-2.8L38.228,34.5,62.848,9.879a1.98,1.98,0,0,0-2.8-2.8L33.979,33.1a1.981,1.981,0,0,0,0,2.8Z" transform="translate(-33.4 -6.5)"/>
          </svg>
      </ion-button>
    </ion-buttons>
    <ion-title><span>Exercise</span>BenchPress</ion-title>
    <!--<ion-buttons end>
      <button ion-button block (click)="editProfile()">Edit</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="updateProfile()">Update </button>
    </ion-buttons>-->
  <!-- </ion-navbar> -->
</ion-header>

<ion-content class="exercise "  >
<div class="fulpad">
  
  <p>Daniel McKee is a strength technology entrepreneur who founded StratFit. As a certified and internationally experienced professional, Daniel focuses not only on achieving his own physical fitness and discipline helping others do the same.</p>
  <p>Daniel has achieved international elite numbers in barbell lifting and has extensive knowledge proven mathematical and scientific principles that back efficient training programs. This has inspired him to create the StratFit app, an e-strength training platform for coaches and athletes around the world. </p>
  <p>Daniel "Iron Mac" McKee is an Expert at using hard training science to get people into the best shape of their lives whether they are world class athletes or non-competitive gym-goers looking to maximize thier performance and live a fuller life. Daniel brings over 15 years of in-the-trenches knowledge and extensive study in the field of strength training directly to you in his StratFit programs.</p>
    
</div>
</ion-content>


