

    .timer-div{ margin-bottom: 1rem !important;margin-top:2rem;
        .timer-button {background:none !important;--background:none !important; font-size: 4rem !important; font-weight: 900; width:fit-content !important;margin: auto; color: #fff;}
    }