.timer-div {margin: auto;margin-bottom: 1rem !important;text-align: center; width: 18rem;position: relative; margin-top:2rem;
    ion-item.timer-button {background:none !important; font-size: 2rem !important;width:fit-content !important;text-align: center !important;margin: auto; box-shadow: none !important;}
    // .timer-button {font-size: 2rem !important;height:10rem !important;text-align: center !important;width: 16rem; margin: auto;position: absolute;left: 0;right: 0;bottom: 0;top: 0; 
       
    //     }

    }