<ion-content>
    <div *ngIf="showSplash" class="intro text-center">
        <!-- <img src="assets/images/StratfitZoomLogoBlack.gif" > -->
        <img src="assets/images/StratfitLogoBlack.gif" >
    </div>
  
    <ion-slides pager (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideMoved()" *ngIf="showSlide">
        <ion-slide>
                
            <div class="diag">
                <video playsinline autoplay muted loop preload="auto" controlsList="nodownload"  src="assets/images/welcome.mp4">
                </video>
                <div class="woverlay">
                    <!-- <h1 class="slide-top">Welcome to STRATFIT <span>BE FIT & STRONG</span></h1> -->
                    <p>Strategies to build a better version of yourself</p>
                    
                </div>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="diag" style = "background: url('assets/images/image1.jpg') no-repeat">
                <div class="woverlay" > 
                    <h1>Workout</h1>             
                    <p>60+ Warmups, barbell, dumbbell, and cooldown exercises to provide a wholesome  workout experience.</p>
                        
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="diag" style="background: url('assets/images/image3.jpg') no-repeat">
                <div class="woverlay" >
                    <h1>Coaches</h1>
                    <p>Each program is curated by a certified fitness trainer, an assurance of systematic strength building regime, faster adaptation and safer workout. </p>
    
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="diag" style="background: url('assets/images/image2.jpg') no-repeat">
                <div class="woverlay" >
                    <h1>Nutrition</h1>
                    <p>1000+ Indian food recipes to track your daily calorie intake or choose to get a certified nutritionist at your disposal for custom diet plan.</p>
                </div>
            </div>
        </ion-slide>
    
    </ion-slides>

    <div class="sbtm-btn" *ngIf="showSlide">
        <ion-button class="nobg "  (click)="skip()">LOGIN</ion-button>
        <ion-button round class="rgt" (click)="next()">SIGNUP</ion-button>
        <!-- <button ion-button round class="nobg rgt" (click)="next()">SIGNUP</button> -->
    </div>
</ion-content>
