<ion-content>
  <div *ngIf="showSplash" class="intro text-center">
      <img src="assets/images/StratfitZoomLogoBlack.gif" >
  </div>
  
  <ion-slides pager (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideMoved()" *ngIf="showSlide">
      <ion-slide>
              
          <div class="diag">
                  <video playsinline autoplay muted loop preload="auto" controlsList="nodownload"  src="assets/images/welcome.mp4">
                  </video>
              <div class="woverlay" [@container]='state' (@container.done)="animationDone()">
                  <div class="logo-small text-right" >
                      <div class="medal" [@badge]='state' (@badge.done)="animationDone()">
                          <img src="assets/images/logo.png">
                      </div>
                      <div class="sst" [@message]='state' (@message.done)="animationDone()">    
                          <h1 class="slide-top">Welcome to STRATFIT <span>BE FIT & STRONG</span></h1>
                      </div>
                  </div>
              </div>
          </div>
      </ion-slide>

    <ion-slide>
      <div class="diag" style = "background: url('assets/images/image1.jpg') no-repeat">
          <div class="woverlay" [@container]='state' (@container.done)="animationDone()">
              <div class="logo-small left text-left" >
                  <div class="logo-top" [@badge]='state' (@badge.done)="animationDone()">
                      <img src="assets/images/logo.png">
                  </div>
                  <div  class="sst" [@message]='state' (@message.done)="animationDone()">                   
                      <h1 class=" slide-top"><em >STRATEGIES TO BUILD</em> <span class="slide-opsty"> A BETTER YOU</span></h1>
                  </div>
              </div>
          </div>
      </div>
    </ion-slide>
    <ion-slide>
          <div class="diag" style="background: url('assets/images/image3.jpg') no-repeat">
              <div class="woverlay" [@container]='state' (@container.done)="animationDone()">
              <div class="logo-small text-right"  >
                  <div class=" logo-top" [@badge]='state' (@badge.done)="animationDone()">
                      <img src="assets/images/logo.png">
                  </div>
                  <div class="sst" [@message]='state' (@message.done)="animationDone()">
                      <h1 class="  slide-top"><em >STRATEGIES TO BUILD</em>  <span class="slide-opsty">A BETTER TEAM</span></h1>
                  </div>
              </div>
              </div>
          </div>
        </ion-slide>
    <ion-slide>
      <div class="diag" style="background: url('assets/images/image2.jpg') no-repeat">
          <div class="woverlay" [@container]='state' (@container.done)="animationDone()">
          <div class="logo-small left text-left" >
              <div class=" logo-top" [@badge]='state' (@badge.done)="animationDone()">
                  <img src="assets/images/logo.png">
              </div>
              <div class="sst" [@message]='state' (@message.done)="animationDone()">
                  <h1 class=" slide-top"><em >STRATEGIES TO BUILD</em> <span class="slide-opsty">A BETTER YOU</span></h1>
              </div>
          </div>
          </div>
      </div>
    </ion-slide>
    
  </ion-slides>
  <div class="sbtm-btn" *ngIf="showSlide">
      <ion-button class="nobg "  (click)="skip()">LOGIN</ion-button>
      <ion-button round class="rgt" (click)="next()">SIGNUP</ion-button>
      <!-- <button ion-button round class="nobg rgt" (click)="next()">SIGNUP</button> -->
  </div>
</ion-content>
