<ion-content>
    <div *ngIf="showSplash" class="intro text-center">
        <!-- <img src="assets/images/StratfitZoomLogoBlack.gif" > -->
        <img src="assets/images/StratfitLogoBlack.gif" >
    </div>
  
    <ion-slides pager (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideMoved()" *ngIf="showSlide">
        <ion-slide>
                
            <div class="diag">
                <video playsinline autoplay muted loop preload="auto" controlsList="nodownload"  src="assets/images/welcome.mp4">
                </video>
                <div class="woverlay">
                    <!-- <h1 class="slide-top">Welcome to STRATFIT <span>BE FIT & STRONG</span></h1> -->
                    <p class="larg"><span>StratFit is Strategic Fitness </span></p>
                    
                </div>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="diag" style = "background: url('assets/images/image1.jpg') no-repeat">
                <div class="woverlay" > 
                    <h1>Training</h1>             
                    <p>StratFit features expert designed training strategies to build a better you.</p>
                        
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="diag" style="background: url('assets/images/image2.jpg') no-repeat">
                <div class="woverlay" >
                    <h1>Personalization</h1>
                    <p>StratFit will estimate and then optimize your personal Training Maximums for all the exercises in your program in real-time. </p>
    
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="diag" style="background: url('assets/images/image3.jpg') no-repeat">
                <div class="woverlay" >
                    <h1>Optimization</h1>
                    <p>StratFit optimizes your training variables in real time according to your performance in the gym.  Let’s go.</p>
                </div>
            </div>
        </ion-slide>
    
    </ion-slides>

    <div class="sbgry sbtm-btn" *ngIf="showSlide">
        <ion-button class="nobg "  (click)="skip()">LOGIN</ion-button>
        <ion-button round class="rgt" (click)="next()">SIGNUP</ion-button>
        <!-- <button ion-button round class="nobg rgt" (click)="next()">SIGNUP</button> -->
    </div>
</ion-content>
