<ion-header class=" head">
  <!-- <ion-navbar class="hedfm"> -->
      <ion-title><span>Exercise</span>{{exinfo.exerciseName}}</ion-title>
    <ion-buttons end >
      <ion-button icon-only (click)="backButtonAction()">
          <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 90.302 90.302">
              <g id="close" transform="translate(0 0)">
                  <path id="Path_119" data-name="Path 119" d="M164.092,159.542a3.925,3.925,0,1,0-5.492,5.609L189.5,195.4a3.925,3.925,0,0,0,5.491-5.61Z" transform="translate(-105.869 -106.215)" />
                  <path id="Path_120" data-name="Path 120" d="M108.926,114.476a3.925,3.925,0,1,0,5.551-5.551L84.886,79.334a3.925,3.925,0,0,0-5.55,5.55Z" transform="translate(-78.185 -78.185)" />
                  <path id="Path_121" data-name="Path 121" d="M167.341,79.331a3.913,3.913,0,0,0-5.533,0L79.331,161.807a3.913,3.913,0,0,0,5.534,5.533l82.476-82.476A3.914,3.914,0,0,0,167.341,79.331Z" transform="translate(-78.185 -78.185)"/>
              </g>
          </svg>
      </ion-button>
    </ion-buttons>

  <!-- </ion-navbar> -->
</ion-header>


<ion-content class="exeinfo sbgrd">
  <ion-card >
      <ion-row class="pcover rmcov" >
        <img src="{{exinfo.newExImage}}" (error)="onExImageError()" (click)="playVideo(exinfo.id)" class="planimg"> 
        <div class="play" (click)="playVideo(exinfo.id)">
              <svg id="Play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                  <path id="Path_256" data-name="Path 256" d="M56.443,106.6A50,50,0,1,0,6.4,56.6,50.014,50.014,0,0,0,56.443,106.6Z" transform="translate(-6.4 -6.6)" fill="none"  />
                  <path id="Path_257" data-name="Path 257" d="M0,29.143H36.744L18.377,0Z" transform="translate(69.389 31.621) rotate(90)" fill="#80B419 " fill-rule="evenodd"/>
              </svg>                                          
        </div>
          
      </ion-row>
  </ion-card>

  <ion-item class="nobg title" >
    <ion-avatar item-start>
          <img src="{{exinfo.newExThumbImage}}" (error)="onExThumbImageError()">
    </ion-avatar>

    <h2>{{exinfo.exerciseName}}</h2>
    <!-- <h6>Back</h6> -->
  </ion-item>

  <div class="fulpad programview" >
        <h3>Description: </h3>
        <p [innerHTML]="exinfo.instructions"></p>
        <p [innerHTML]="exinfo.exerciseDesc"></p>
        <!-- <p [innerHTML]="exinfo.exercise_id__equipment"></p> -->
    </div>
  
</ion-content>

  