<ion-header class=" head" >
  <ion-toolbar class="hedfm"> 
    <ion-buttons  slot="start" >
      <ion-button slot="icon-only" (click)="backButtonAction()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.028 56">
            <path id="Back" d="M60.048,61.921a1.981,1.981,0,0,0,2.8,0,1.981,1.981,0,0,0,0-2.8L38.228,34.5,62.848,9.879a1.98,1.98,0,0,0-2.8-2.8L33.979,33.1a1.981,1.981,0,0,0,0,2.8Z" transform="translate(-33.4 -6.5)"/>
          </svg>
      </ion-button>
    </ion-buttons>
    <ion-title>Training level</ion-title>
    
  </ion-toolbar> 
</ion-header> 

<ion-content class="tlevel">


  <div class="fulpad ">
      
    <!-- <h3>Estimate your strength training level and we will estimate your training maxes.</h3> -->
   
    <ion-row class="levels">
      <div class=" sbgw fulpad active levelopt" [ngClass]="{'active': selectedLevel== (i+1)}" *ngFor='let item of items;let i=index' name="fitlevel" (click)="selectFLevel(item)"> 
        <h2 (click)="selectFLevel(item)">{{item.title}}</h2>
        <p>{{item.desc}}</p>
     </div>
    </ion-row>
    
   </div>
    <!-- End Training level -->



</ion-content>

<ion-footer class="foot " >
  <ion-row class="btnrow" >
    <ion-button expand="block" (click)="continueBtn()" [disabled]='!selectedLevel'>Save</ion-button>
  </ion-row>
</ion-footer>

