<ion-header class=" head" >
  <ion-toolbar class="hedfm"> 
    <ion-buttons  slot="start" >
      <ion-button slot="icon-only" (click)="backButtonAction()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.028 56">
            <path id="Back" d="M60.048,61.921a1.981,1.981,0,0,0,2.8,0,1.981,1.981,0,0,0,0-2.8L38.228,34.5,62.848,9.879a1.98,1.98,0,0,0-2.8-2.8L33.979,33.1a1.981,1.981,0,0,0,0,2.8Z" transform="translate(-33.4 -6.5)"/>
          </svg>
      </ion-button>
    </ion-buttons>
    <ion-title><span>Profile</span>Training level</ion-title>
    
  </ion-toolbar> 
</ion-header> 

<ion-content class="tlevel">

  <!-- <h4 text-center padding>
    
  </h4>
  <ion-list class="levels" >
    <div class="levelopt" [ngClass]="{'active': selectedLevel== (i+1)}" ion-item detail-none  *ngFor='let item of items;let i=index'>
      <div name="fitlevel" (click)="selectFLevel(item)">
        <div [ngClass]="{'activeOpt': selectedLevel== (i+1)}"><ion-icon name="ios-radio-button-on" (click)="selectFLevel(item)" item-left class="selectiondot"  ></ion-icon>
        </div>
        <h2>{{item.title}}</h2>
      </div>
      <expandable [expandHeight]='itemExpandHeight' [expanded]='item.expanded'>
        <p>{{item.desc}}</p>
      </expandable>
    </div>
  </ion-list> -->



  <div class="fulpad ">
      
    <h3 class="text-center">Estimate your strength training level and we will estimate your training maxes.</h3>
   
    <ion-row class="levels">
      <div class=" sbgw fulpad active levelopt" [ngClass]="{'active': selectedLevel== (i+1)}" *ngFor='let item of items;let i=index' name="fitlevel" (click)="selectFLevel(item)"> 
        <h4 (click)="selectFLevel(item)">{{item.title}}</h4>
        <p>{{item.desc}}</p>
     </div>
    </ion-row>
    
  </div><!--End Training level-->



</ion-content>

<ion-footer class="foot " >
  <ion-row class="btnrow" >
    <ion-button (click)="continueBtn()" [disabled]='!selectedLevel'>Save</ion-button>
  </ion-row>
</ion-footer>

