/* training level css */
.tlevel {
    // h3 {margin-bottom: 1rem !important; }

      .levels{ 
        h2 {margin-top:-5px !important; margin-bottom: 0 !important; font-weight: normal !important;  }
        h2, p {margin-left: 25px;}
        // p{ display: block;  }

      .levelopt { width: 100%;padding: 20px !important;  border-radius:10px; margin-bottom:10px; position: relative; cursor: pointer; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08); }
      .levelopt p{margin-bottom: 0; display: none; line-height: inherit !important;}
      .levelopt:before, .levelopt.active:after {content: ""; position: absolute; left:13px; top:20px;  border-radius: 50%; width: 12px !important; height: 12px !important; border: 1px solid #999 !important; }
      // .levelopt:after { }

      .levelopt.active p {display: block !important;}
      .levelopt.active:before { border-width: 3px !important; border-style: solid !important; border-color: #fff !important;  background: #0163D1!important;}
      .levelopt.active:after { border-width: 1px!important; border-style: solid !important; left:12px; top:18px; width: 18px !important; height: 18px !important; background: none !important; --background:none !important;}

      .levelopt.active h2{ font-weight: bold !important; display: block; }

      }

  
  }
  .foot .btnrow ion-button{ float: none !important;}