// page-tlevel {
    
//     .list, .item {box-shadow: none !important; border-radius: 3px !important;
//         .label-md {margin: 0 !important;}
//     }
       

     
    
  
//         .progress{
//             height: 1px; margin-bottom: 40px;
          
//         }
    
       
    
//         /* training level css */
//       .tlevel{ padding-top: 6vh;

//         item-inner {padding-right: 0 !important;}
//         .label { margin: 0 !important;}



//           .levels{
//              h2 {margin-top:0rem !important; }
//              h2, p {margin-left: 25px;}
//              p{padding: 15px 0 0 0; display: block; color: #ccc !important;}
//              .ion-icon {color:#707070 !important;}

//              .levelopt{padding: 6px 15px; border: 1px solid #1D2534 !important; margin-bottom: 10px;color: color($colors, fdark); background: none !important; border-radius: 3px !important; height: 54px !important;}
//             .levelopt.active{border: 0.6px solid #fff !important;  height: auto !important;
//                 h2 {margin-top:0px !important; font-weight: 600 !important;}
//                 .label {margin-top: 10px !important; margin-bottom: 10px !important;}
//             }

//           }


//           .activeOpt ion-icon{
//               color: color($colors, primary) !important;
//           }
//           .item-md ion-icon[item-right], .item-md ion-icon[item-end], .item-ios ion-icon[item-right], .item-ios ion-icon[item-end] {
//               margin-left: 0;
//               margin-top: 11px;
//               margin-bottom: 10px;
//               position: absolute;
//               right: 0;
//               bottom: 0;
//               top: 0;
//           }
//           .item-md ion-icon[item-left],  .item-md ion-icon[item-start] , .item-ios ion-icon[item-left],  .item-ios ion-icon[item-start]{
//               margin-left: 0;
//               margin-top: 18px;
//               margin-bottom: 0px;
//               position: absolute;
//               left: 0;
//               bottom: 0;
//               top: 0;
      
//           }
//           .selectiondot{
//               font-size: 1.6rem;
//               padding: 0 10px;
//               color: #eee !important;
//           }
//           .ios, .md {
//               page-home {
//                   button {
//                       align-items: baseline;
//                   }
//               }
//           }
          
      
//           .list-ios > .item-block:first-child {
//               border-top: 1px solid #999;
//           }
//           .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
//               border-bottom: 1px solid #999;
//           }
//            /* tab responsive */
//            @media screen and (min-device-width: 767px) and (max-device-width: 1024px){
              
//           }


//           .list-md .item-block .item-inner {border-bottom: 0 !important;}
      
//       }
//       /* end of training level css */



      

// }
