<ion-content class=" timing">
  <div class="skip">
      <!-- <button ion-button (click)='backButtonAction()'>
          <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 90.302 90.302">
              <g id="close" transform="translate(0 0)">
                  <path id="Path_119" data-name="Path 119" d="M164.092,159.542a3.925,3.925,0,1,0-5.492,5.609L189.5,195.4a3.925,3.925,0,0,0,5.491-5.61Z" transform="translate(-105.869 -106.215)" />
                  <path id="Path_120" data-name="Path 120" d="M108.926,114.476a3.925,3.925,0,1,0,5.551-5.551L84.886,79.334a3.925,3.925,0,0,0-5.55,5.55Z" transform="translate(-78.185 -78.185)" />
                  <path id="Path_121" data-name="Path 121" d="M167.341,79.331a3.913,3.913,0,0,0-5.533,0L79.331,161.807a3.913,3.913,0,0,0,5.534,5.533l82.476-82.476A3.914,3.914,0,0,0,167.341,79.331Z" transform="translate(-78.185 -78.185)"/>
              </g>
          </svg>
      </button> -->
      <!--<button ion-button (click)='backButtonAction()'>
          Skip
      </button>-->
  </div>
  <!-- <ion-fab center bottom>
      <button ion-fab mini (click)='backButtonAction()'>Skip</button>
  </ion-fab> -->

  <div class="fulpad ">
    <h2 class="text-center" text-wrap>Rest time is highly recommended to allow your body relax before you get started with the next exercise.</h2>
    <timer class="timer text-center" #timer [timeInSeconds]="myVariableNameHere"></timer>
    

    <div class="setsumry" >
        <h3>Summary</h3>
        <!-- <ion-item class="  nopad nobg">
            <ion-avatar  slot="start">
              <img src="assets/images/plan_2.png">
            </ion-avatar>
            <div class="settitl">
              <h3>{{exerciseName}}</h3>
              <span>3 mins</span>
            </div>
            <div class="setreps" slot="end">{{setWorkWeight}} / {{repsDone}}</div>
        </ion-item> -->

        <ion-row class="setcal">
            <ion-col>
                <ion-avatar item-start > 
                    <img src="{{exThumbImg}}" (error)="onExImageError()">
                </ion-avatar>
                <span>{{exerciseName}}</span>
            </ion-col>
            <ion-col  size="6">
                <span>{{setWorkWeight}}</span>
                <em>Work Weight</em>
            </ion-col>
            <ion-col  size="6">
                <span>{{repsDone}}</span>
                <em>Reps Done</em>
            </ion-col>

            <ion-col  size="6" *ngIf="isCalories">
                <span>{{calories}}</span>
                <em>Calories Burned</em>
            </ion-col>
            
        </ion-row>
          
      </div>

      <!-- <div  *ngIf="exFinished" >
      <div class="exesumry" *ngFor="let ex of exDetails; let i=index" >
            <h3>Excercise Summary</h3>
            <ion-row >
                <ion-col size="4">
                    <span>{{ex.amrap}} <em>Total Reps</em>  </span>
                </ion-col>
                <ion-col size="4">
                    <span>{{ex.orm}} <em>Est. Tmax ({{wMetric}})</em>  </span>
                </ion-col>
                <ion-col size="4">
                    <span>{{ex.avgWeight}} <em>Avg Weight ({{wMetric}})</em>  </span>
                </ion-col>
                <ion-col size="4">
                    <span>{{ex.totalTonnage}}<em>Tonnage (Ton)</em>  </span>
                </ion-col>
                <ion-col size="4">
                    <span>{{ex.totalwork}}<em>Work (Joules)</em>  </span>
                </ion-col>
                <ion-col size="4">
                    <span>{{ex.cal}} <em>Calories (Cal)</em>  </span>
                </ion-col>
            </ion-row>

            <ion-row class="exerow" *ngIf='ex.exType==1'>
                <ion-col size="4"></ion-col>
                    <ion-col size="2">Min</ion-col>
                    <ion-col size="2">Max</ion-col>
                    <ion-col size="2">Avg</ion-col>
                    <ion-col size="2">Total</ion-col>
                <ion-col size="4" *ngIf='ex.exDistance!=="null"'><h5>Distance(Kms)</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exDistance!=="null"'><h5>{{ex.minDistance}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exDistance!=="null"'><h5>{{ex.maxDistance}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exDistance!=="null"'><h5>{{ex.avgDistance}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exDistance!=="null"'><h5>{{ex.totalDistance}}</h5></ion-col>
                <ion-col size="4" *ngIf='ex.exTime!=="null"'><h5>Time(Min)</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exTime!=="null"'><h5>{{ex.minTime}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exTime!=="null"'><h5>{{ex.maxTime}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exTime!=="null"'><h5>{{ex.avgTime}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exTime!=="null"'><h5>{{ex.totalTime}}</h5></ion-col>
                <ion-col size="4" *ngIf='ex.exWeight!=="null"'><h5>Weight({{wMetric}})</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exWeight!=="null"'><h5>{{ex.minWeight}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exWeight!=="null"'><h5>{{ex.maxWeight}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exWeight!=="null"'><h5>{{ex.avgWeight}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exWeight!=="null"'><h5>-</h5></ion-col>
                <ion-col size="4" *ngIf='ex.amrap!==0'><h5>Reps</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.amrap!==0'><h5>{{ex.minReps}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.amrap!==0'><h5>{{ex.maxReps}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.amrap!==0'><h5>{{ex.avgReps}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.amrap!==0'><h5>{{ex.amrap}}</h5></ion-col>
                <ion-col size="4" *ngIf='ex.exSpeed!=="null"'><h5>Speed(Kmph)</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exSpeed!=="null"'><h5>{{ex.minSpeed}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exSpeed!=="null"'><h5>{{ex.maxSpeed}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exSpeed!=="null"'><h5>{{ex.avgSpeed}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exSpeed!=="null"'><h5>-</h5></ion-col>
                <ion-col size="4" *ngIf='ex.exHeight!=="null"'><h5>Height(Cms)</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exHeight!=="null"'><h5>{{ex.minHeight}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exHeight!=="null"'><h5>{{ex.maxHeight}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exHeight!=="null"'><h5>{{ex.avgHeight}}</h5></ion-col>
                    <ion-col size="2" *ngIf='ex.exHeight!=="null"'><h5>-</h5></ion-col>
                <ion-col size="4"><h5>Calories (cal)</h5></ion-col>
                    <ion-col size="2"><h5>-</h5></ion-col>
                    <ion-col size="2"><h5>-</h5></ion-col>
                    <ion-col size="2"><h5>-</h5></ion-col>
                    <ion-col size="2"><h5>{{ex.cal}}</h5></ion-col>
            </ion-row>
      
      </div>
    </div> -->

    <!--h2>Are you sure you want to skip it?</h2-->
  </div>
  
  <p>Are you sure you want to skip it?</p>
<ion-fab class="fabicon fabclose ">
   <ion-fab-button (click)='backButtonAction()'>Skip</ion-fab-button>
</ion-fab>

</ion-content>

<!-- 
<ion-footer class="foot ">
  <ion-row class="btnrow">
      <button ion-button (click)='backButtonAction()'> Skip </button>
     
  </ion-row>
</ion-footer> -->
