
    .refer{ margin:2rem auto 1rem auto;text-align: center;
        img, svg {width:10rem; height: 10rem; margin: auto;}
        
    }
    .about .nobg  { margin-bottom: 3rem;
        p { margin-bottom:1rem;  }
        a {display: block; width: 100%;}

    }
  

    
 
    .socialicons {width: 50%;
        margin: auto;
        img{  width: 40px;}
    }
  

