
    .refer{ margin:2rem auto 1rem auto;text-align: center;
        img, svg {width:8rem; height: 8rem; margin: auto;}
        
    }
    .nobg  { margin-bottom: 3rem;
        p { margin-bottom:1rem; font-size: medium; }
        a {display: block;}

    }
  

    
 
     
    .fb{color: #3b5998;}
    .insta{color: #fb3958;}
    .twitter{color: #0084b4;}
  


 
    .socialicons {
        text-align: center;
        margin: auto;
      
        img{  height: 2rem;}
    }
  

