<ion-header class=" head back">
  <ion-toolbar class="hedfm"> 
    <ion-buttons  slot="start" >
      <ion-button slot="icon-only" (click)="backButtonAction()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.028 56">
            <path id="Back" d="M60.048,61.921a1.981,1.981,0,0,0,2.8,0,1.981,1.981,0,0,0,0-2.8L38.228,34.5,62.848,9.879a1.98,1.98,0,0,0-2.8-2.8L33.979,33.1a1.981,1.981,0,0,0,0,2.8Z" transform="translate(-33.4 -6.5)"/>
          </svg>
      </ion-button>
    </ion-buttons>

    <ion-title>My Subscriptions</ion-title>
 
  </ion-toolbar> 

</ion-header>



<ion-content class="store sview posabs">

   <div class="fulview">
    <div class="fulcard " >
      <img src="{{plandetails.planPhoto}}" (error)="onImageError(plandetails)">
      <!-- <img src="assets/images/plan_2.png" class="planimg" *ngIf="planinfo.planPhoto =='' || planinfo.planPhoto ==null" > -->

        <div class="play" (click)="playVideo(plandetails.id)">
            <svg id="Play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path id="Path_256" data-name="Path 256" d="M56.443,106.6A50,50,0,1,0,6.4,56.6,50.014,50.014,0,0,0,56.443,106.6Z" transform="translate(-6.4 -6.6)" fill="none"  />
                <path id="Path_257" data-name="Path 257" d="M0,29.143H36.744L18.377,0Z" transform="translate(69.389 31.621) rotate(90)" fill="#80B419 " fill-rule="evenodd"/>
            </svg>                                          
        </div>

        <div class="container">
          <div class="cdbody">
            <span *ngIf="isDuration">{{plandetails.duration_weeks}} Weeks</span> 
            <h1>{{plandetails.planName}}</h1>
            <!-- <p>{{plan.createdBy_id__first_name}}</p> -->
            <!-- <ion-avatar class="sbgw" > 
                <img src="{{planinfo.createdBy_id__avatar}}" (error)="onAvatarError()" />
            </ion-avatar> -->
            <p>{{plandetails.createdBy}} 
              <em>4.5
              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 34 34">
                <path id="Star" d="M17,0l4.25,12.644L34,12.987,23.877,21.144,27.507,34,17,26.4,6.493,34l3.63-12.856L0,12.987l12.75-.343Z" fill="#ffc400"/>
              </svg>
              
            </em>
          </p>
          </div>
        </div>

      </div>

    </div>


<div  class="fulpad programview" [ngSwitch]="mysubtabs">

  <div *ngSwitchCase="'pabout'">
  <ion-row class="mb-2">
    <!-- <ion-col col-6>Price</ion-col>
    <ion-col col-6 [innerHTML]="plandetails.price"></ion-col> -->
    <ion-col size="6" >DayOff</ion-col>
    <ion-col size="6" >{{plandetails.dayoff}}</ion-col>
    <ion-col size="6" >Program Start Date</ion-col>
    <ion-col size="6" >{{plandetails.startdate}}</ion-col>
    <ion-col size="6" >No of subscriptions</ion-col>
    <ion-col size="6" >{{plandetails.totalsubscribers}}</ion-col>
  
   
  </ion-row>

  <h2 >Abilities:</h2>
  <div class="mb-2">
    <p>{{plandetails.ability}}</p>
  </div>


  <h2 >Purpose:</h2>
  <ion-row class="mb-2">
    <p>{{plandetails.goals}}</p>
  </ion-row>

  <h2 >About Program:</h2>
  <ion-row class="mb-2">
    <p text-justify [innerHTML]="plandetails.planDescription"></p>
  </ion-row>
      


</div>


<h2 >Program Rating:</h2>

<div margin class="plan-ratingcls">
  <!-- <p>Your Rating</p> -->
  <rating [(ngModel)]="rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
      nullable="false" (click)="planRating(rate)">
    </rating>
</div>
</div>

</ion-content>