

<ion-header class=" head sbgry">
   <ion-toolbar class="hedfm"> 
     <ion-buttons  slot="start" >
       <ion-button class="nobg" slot="icon-only" (click)="backButtonAction()">
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.028 56">
             <path id="Back" d="M60.048,61.921a1.981,1.981,0,0,0,2.8,0,1.981,1.981,0,0,0,0-2.8L38.228,34.5,62.848,9.879a1.98,1.98,0,0,0-2.8-2.8L33.979,33.1a1.981,1.981,0,0,0,0,2.8Z" transform="translate(-33.4 -6.5)"/>
           </svg>
       </ion-button>
     </ion-buttons>
 
     <ion-title >Meal Planner</ion-title>

     <ion-buttons slot="end" >
      <ion-button class="nobg" (click)="displayCalendar()">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
            <g id="history" transform="translate(0 -0.315)">
              <rect id="Rectangle_138845" data-name="Rectangle 138845"  transform="translate(0 0.315)" fill="none"/>
              <path id="Path_8534" data-name="Path 8534" d="M43.193,3.315A35.89,35.89,0,0,0,7.319,39.088,41.528,41.528,0,0,0,8.607,50.221L3.774,47.4A2.51,2.51,0,1,0,1.245,51.74l11.325,6.6c.024.012.047.016.07.027a2.481,2.481,0,0,0,.375.157,2.68,2.68,0,0,0,.263.085,2.594,2.594,0,0,0,.326.041c.077.007.154.031.232.031.044,0,.085-.015.129-.017s.078.009.121,0c.062-.006.118-.032.179-.042a2.575,2.575,0,0,0,.351-.085,2.461,2.461,0,0,0,.286-.116,2.375,2.375,0,0,0,.3-.169,2.293,2.293,0,0,0,.5-.43,2.294,2.294,0,0,0,.2-.255c.034-.05.078-.086.108-.137s.022-.083.041-.122c.034-.068.086-.128.116-.2l4.505-11.154a2.509,2.509,0,1,0-4.652-1.88L13.7,49.806A37.183,37.183,0,0,1,12.34,39.191,30.854,30.854,0,1,1,43.194,70.044a2.51,2.51,0,1,0,0,5.021,35.875,35.875,0,1,0,0-71.75Z" transform="translate(0 0.735)" />
              <path id="Path_8535" data-name="Path 8535" d="M37.088,40.039a2.484,2.484,0,0,0,.789.161c.056,0,.111.034.167.034a2.485,2.485,0,0,0,.852-.167,2.209,2.209,0,0,0,.22-.1,2.508,2.508,0,0,0,.577-.382c.039-.034.09-.046.128-.085L55.494,23.823a2.51,2.51,0,0,0-3.55-3.55L37.46,34.756l-13-5.444a2.511,2.511,0,0,0-1.942,4.631l14.554,6.094.015,0Z" transform="translate(5.144 4.713)" />
            </g>
         </svg>
      </ion-button>

      <ion-button class="nobg" href="https://wa.me/918801462421?text=Hello%20how%20can%20I%20help%20you">
         
         <svg xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 512 512" >
            <path style="fill:#4CAF50;" d="M256.064,0h-0.128l0,0C114.784,0,0,114.816,0,256c0,56,18.048,107.904,48.736,150.048l-31.904,95.104
               l98.4-31.456C155.712,496.512,204,512,256.064,512C397.216,512,512,397.152,512,256S397.216,0,256.064,0z"/>
            <path style="fill:#FAFAFA;" d="M405.024,361.504c-6.176,17.44-30.688,31.904-50.24,36.128c-13.376,2.848-30.848,5.12-89.664-19.264
               C189.888,347.2,141.44,270.752,137.664,265.792c-3.616-4.96-30.4-40.48-30.4-77.216s18.656-54.624,26.176-62.304
               c6.176-6.304,16.384-9.184,26.176-9.184c3.168,0,6.016,0.16,8.576,0.288c7.52,0.32,11.296,0.768,16.256,12.64
               c6.176,14.88,21.216,51.616,23.008,55.392c1.824,3.776,3.648,8.896,1.088,13.856c-2.4,5.12-4.512,7.392-8.288,11.744
               c-3.776,4.352-7.36,7.68-11.136,12.352c-3.456,4.064-7.36,8.416-3.008,15.936c4.352,7.36,19.392,31.904,41.536,51.616
               c28.576,25.44,51.744,33.568,60.032,37.024c6.176,2.56,13.536,1.952,18.048-2.848c5.728-6.176,12.8-16.416,20-26.496
               c5.12-7.232,11.584-8.128,18.368-5.568c6.912,2.4,43.488,20.48,51.008,24.224c7.52,3.776,12.48,5.568,14.304,8.736
               C411.2,329.152,411.2,344.032,405.024,361.504z"/>
            
            </svg>
      </ion-button>
     <!-- <ion-button href="https://wa.me/918801462421?text=Hello%20how%20can%20I%20help%20you">WhatsApp</ion-button> -->
    
   </ion-buttons>
   </ion-toolbar> 
 
 </ion-header>



<ion-content class="diet posabs">

   <div class=" fulpad blanc">
      <ion-row >
        <ion-col size="7">
          <h3>Day Balance</h3>
          <ion-row class="cgraph">
            <ion-col  size="6" class=" fat">
               <circle-progress [percent]="fatGmsBalancePercent" 
               [backgroundStrokeWidth]="0" [backgroundPadding]=" 0" [radius]="100"  [innerStrokeWidth]="10" [outerStrokeWidth]="10" [space]=" -10" [outerStrokeGradient]=" true"
               [titleFontSize]="40" [showTitle]="true" [showSubtitle]="true" [title]="fatGmsIntake+ ' g'" [subtitle]="'Fat'" [unitsFontSize]=" 30" [subtitleFontSize]="20" 
               [animation]="true" [animationDuration]="1000" [showUnits]="false" [outerStrokeColor]= "'#727272'" [innerStrokeColor]= "'#fff'" [showBackground]="false" [responsive]="true">
               </circle-progress>

               <!-- Fat  -->
               <!-- <div class="reqcal">
                  <em>{{fatGms}} g</em><span>Fat</span>
               </div> -->
            </ion-col>

            <ion-col size="6" class="protein">
               <circle-progress [percent]="protienGmsBalancePercent" [showTitle]="true" [showSubtitle]="true" [title]="protienGmsIntake+ ' g'" [subtitle]="'Pro'" [backgroundStrokeWidth]="0" [backgroundPadding]=" 0" [radius]="100"  [innerStrokeWidth]="10" [outerStrokeWidth]="10" [space]=" -10" [outerStrokeGradient]=" true" [titleFontSize]="40" [unitsFontSize]=" 30" [subtitleFontSize]="20" [animation]="true" [animationDuration]="1000" [showUnits]="false" [outerStrokeColor]= "'#E33849'" [innerStrokeColor]= "'#fff'" [showBackground]="false" [responsive]="true">
               </circle-progress>
         
               <!-- Pro  -->
               <!-- <div class="reqcal">
                  <em>{{protienGms}} g</em><span>Protein</span>
               </div> -->
            </ion-col>

            <ion-col size="6" class="carbohydrate">
               <circle-progress [percent]="carbsGmsBalancePercent" [showTitle]="true" [showSubtitle]="true" [title]="carbsGmsIntake+' g'" [subtitle]="'Carbs'" [backgroundStrokeWidth]="0" [backgroundPadding]=" 0" [radius]="100" [innerStrokeWidth]="10" [outerStrokeWidth]="10" [space]=" -10" [outerStrokeGradient]=" true" [titleFontSize]="40" [unitsFontSize]=" 30" [subtitleFontSize]="20"  [animation]="true" [animationDuration]="1000" [showUnits]="false" [outerStrokeColor]= "'#E6CF00'" [innerStrokeColor]= "'#fff'" [showBackground]="false" [responsive]="true">
               </circle-progress>
         
               <!-- Carbs  -->
               <!-- <div class="reqcal">
                  <em>{{carbsGms}} g</em><span>Carbohydrate</span>
               </div> -->
            </ion-col>

            <ion-col size="6" class="calorie">
               <circle-progress [percent]="totalCalBalancePercent" [showTitle]="true" [showSubtitle]="true" [title]="calIntake" [subtitle]="'Cal'" [backgroundStrokeWidth]="0" [backgroundPadding]=" 0" [radius]="100" [innerStrokeWidth]="10" [outerStrokeWidth]="10" [space]=" -10" [outerStrokeGradient]=" true" [titleFontSize]="40" [unitsFontSize]=" 30" [subtitleFontSize]="20" [animation]="true" [animationDuration]="1000" [showUnits]="false" [outerStrokeColor]= "'#00BFE6'" [innerStrokeColor]= "'#fff'" [showBackground]="false" [responsive]="true">
               </circle-progress>
         
               <!-- Cal  -->
               <!-- <div class="reqcal">
                  <em>{{calPerDay}}</em><span>Calories</span>
               </div> -->
            </ion-col>

          </ion-row>
        </ion-col>
        <ion-col size="5"  class="nopadr">
          <img src="assets/images/mealbg.png">
        </ion-col>
         <ion-col class="last" size="12">
            <h3>Left Balance</h3>
            <ion-row class="lgraph" >
               <ion-col class="fat">
                  <em>{{fatGms}} g</em>
                  <!-- <progress-bar  style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></progress-bar> -->
                  <!-- <div class="progress">
                     <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div> -->
                  <div class=" progress-outer">
                     <div class="progress-inner" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                 </div>
                  <span>Fat</span>
               </ion-col>

               <ion-col class="protein">
                  <em>{{protienGms}} g</em>
                  <!-- <progress-bar  style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></progress-bar> -->
                  <!-- <div class="progress">
                     <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div> -->
                  <div class=" progress-outer">
                     <div class="progress-inner" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                 </div>
                  <span>Protein</span>
               </ion-col>

               <ion-col class="carbohydrate">
                  <em>{{carbsGms}} g</em>
                  <!-- <progress-bar  style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></progress-bar> -->
                  <!-- <div class="progress">
                     <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div> -->
                  <div class=" progress-outer">
                     <div class="progress-inner" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                 </div>
                  <span>Carbohydrate</span>
               </ion-col>

               <ion-col class="calorie">
                  <em>{{calPerDay}}</em>
                  <!-- <progress-bar  style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></progress-bar> -->
                  <!-- <div class="progress">
                     <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div> -->
                  <div class=" progress-outer">
                     <div class="progress-inner" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                 </div>
                  <span>Calories</span>
               </ion-col>
            </ion-row>
         </ion-col>

      </ion-row>

      
    </div>


   <div class="frame ">
      <div class="adtitle">
        <h1>Nutrition </h1>
      </div>
      <div class="  contin">
         <div class=" week">
            <ion-button [ngClass]="{'active': dayIndex == 1}" > Mon</ion-button>
            <ion-button [ngClass]="{'active': dayIndex == 2}" > Tue </ion-button>
            <ion-button [ngClass]="{'active': dayIndex == 3}" > Wed </ion-button>
            <ion-button [ngClass]="{'active': dayIndex == 4}" > Thu </ion-button>
            <ion-button [ngClass]="{'active': dayIndex == 5}" > Fri </ion-button>
            <ion-button [ngClass]="{'active': dayIndex == 6}" > Sat </ion-button>
            <ion-button [ngClass]="{'active': dayIndex == 0}" > Sun </ion-button>
            <!-- <em>today</em> -->
          </div> <!-- End Week Block-->

          <div class="meallist">

            <!-- <ion-item class="nodata sbgw adbor" *ngIf="finalFoodDataByDate.length==0" >
               <p>{{mealMsg}}</p>
             </ion-item> -->
             <ion-card class="nodata adbor" *ngIf="finalFoodDataByDate.length==0">
               <p>{{mealMsg}}</p>
             </ion-card>
            
            <ion-card class="dcard fulpad adbor" *ngFor="let meal of finalFoodDataByDate; let i = index" (click)="editMeal(meal)">
               <div class="dtitle  ">
                  <h2>{{meal.mealName}}</h2>
                  <div class="posabs text-center edit" >
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 84 84">
                        <path id="icons8-edit" d="M77.117,2a8.873,8.873,0,0,0-6.279,2.625L69.354,6.109,81.912,18.663,83.4,17.179A8.9,8.9,0,0,0,77.117,2ZM66.557,9.361a1.836,1.836,0,0,0-1.085.571L6.225,69.221a1.862,1.862,0,0,0-.514.8l-3.653,13.7a1.828,1.828,0,0,0,2.226,2.226l13.7-3.652a1.864,1.864,0,0,0,.8-.514L78.087,22.543a1.836,1.836,0,1,0-2.569-2.625L16.556,78.865l-7.42-7.418L68.1,12.5a1.826,1.826,0,0,0-1.37-3.139Z" transform="translate(-1.999 -2)" fill="#fff"/>
                     </svg>                      
                  </div>
                  <!-- <ion-button (click)="editMeal(meal.id)" slot="end">
                     <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 84 84">
                        <g id="add" transform="translate(-654.5 -785.5)">
                           <path id="Path_8229" data-name="Path 8229" d="M494.087,1656.771h80" transform="translate(162.413 -829.271)" fill="none" stroke="#80b419" stroke-linecap="round" stroke-width="4"/>
                           <path id="Path_8230" data-name="Path 8230" d="M0,0H80" transform="translate(696.5 787.5) rotate(90)" fill="none" stroke="#80b419" stroke-linecap="round" stroke-width="4"/>
                        </g>
                     </svg>
                     Edit
                   </ion-button> -->
                  </div>
               <ion-row class="lgraph admb-2" >

                  <ion-col class="protein">
                     <em>{{meal.mealfat}} g</em>
                     <!-- <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                     </div> -->
                     <div class="progress-outer">
                        <div class="progress-inner" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                     <span>Fat</span>
                  </ion-col>

                  <ion-col class="protein">
                     <em>{{meal.mealpro}} g</em>
                     <div class="progress-outer">
                        <div class="progress-inner" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                     <span>Protein</span>
                  </ion-col>

                  <ion-col class="carbohydrate">
                     <em>{{meal.mealcarb}} g</em>
                     <div class="progress-outer">
                        <div class="progress-inner" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                     <span>Carbohydrate</span>
                  </ion-col>

                  <ion-col class="calorie">
                     <em>{{meal.mealcal}} </em>
                     <div class="progress-outer">
                        <div class="progress-inner" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                     <span>Calories</span>
                  </ion-col>

                </ion-row>
                <ion-row class="listdis admr-n12">
                   <div class="scrol" scrollX="true">
                      <!-- <em *ngFor="let food of meal.mealData" >{{food.foodcount}} {{food.name}} </em> -->
                      <ul>
                         <li *ngFor="let food of meal.mealData" >{{food.foodcount}} {{food.name}}</li>
                      </ul>
                   </div>
          
                </ion-row>
            </ion-card> 
          
          </div>

      </div>
   </div>
    


 
 <!-- <ion-row class="fulpad cgraph" >
   
  <h3>Day Balance</h3>
   <ion-col size="3" class="fat">
      <circle-progress [percent]="fatGmsBalancePercent" [backgroundStrokeWidth]="0" [backgroundPadding]=" 0" [radius]="100"  [innerStrokeWidth]="10" [outerStrokeWidth]="10" [space]=" -10" [outerStrokeGradient]=" true" [titleFontSize]="40" [units]=" rem" [showTitle]="true" [showSubtitle]="true" [title]="fatGmsIntake+ ' g'" [subtitle]="'Fat'" [unitsFontSize]=" 30" [subtitleFontSize]="20" [animation]="true" [animationDuration]="1000" [showUnits]="false" [outerStrokeColor]= "'#999999'" [innerStrokeColor]= "'#1D2534'" [showBackground]="false" [responsive]="true">
      </circle-progress>

       <div class="reqcal">
          <em>{{fatGms}} g</em><span>Fat</span>
       </div>
   </ion-col>

   <ion-col  size="3" class="protein">
      <circle-progress [percent]="protienGmsBalancePercent" [showTitle]="true" [showSubtitle]="true" [title]="protienGmsIntake+ ' g'" [subtitle]="'Pro'" [backgroundStrokeWidth]="0" [backgroundPadding]=" 0" [radius]="100"  [innerStrokeWidth]="10" [outerStrokeWidth]="10" [space]=" -10" [outerStrokeGradient]=" true" [titleFontSize]="40" [unitsFontSize]=" 30" [subtitleFontSize]="20" [animation]="true" [animationDuration]="1000" [showUnits]="false" [outerStrokeColor]= "'#E33849'" [innerStrokeColor]= "'#1D2534'" [showBackground]="false" [responsive]="true">
      </circle-progress>

      <div class="reqcal">
         <em>{{protienGms}} g</em><span>Protein</span>
      </div>
       
   </ion-col>

   <ion-col  size="3" class="carbohydrate">
      <circle-progress [percent]="carbsGmsBalancePercent" [showTitle]="true" [showSubtitle]="true" [title]="carbsGmsIntake+' g'" [subtitle]="'Carbs'" [backgroundStrokeWidth]="0" [backgroundPadding]=" 0" [radius]="100" [innerStrokeWidth]="10" [outerStrokeWidth]="10" [space]=" -10" [outerStrokeGradient]=" true" [titleFontSize]="40" [unitsFontSize]=" 30" [subtitleFontSize]="20"  [animation]="true" [animationDuration]="1000" [showUnits]="false" [outerStrokeColor]= "'#E6CF00'" [innerStrokeColor]= "'#1D2534'" [showBackground]="false" [responsive]="true">
      </circle-progress>

      <div class="reqcal">
         <em>{{carbsGms}} g</em><span>Carbohydrate</span>
      </div>
   </ion-col>

   <ion-col  size="3" class="calorie">
      <circle-progress [percent]="totalCalBalancePercent" [showTitle]="true" [showSubtitle]="true" [title]="calIntake" [subtitle]="'Cal'" [backgroundStrokeWidth]="0" [backgroundPadding]=" 0" [radius]="100" [innerStrokeWidth]="10" [outerStrokeWidth]="10" [space]=" -10" [outerStrokeGradient]=" true" [titleFontSize]="40" [unitsFontSize]=" 30" [subtitleFontSize]="20" [animation]="true" [animationDuration]="1000" [showUnits]="false" [outerStrokeColor]= "'#00BFE6'" [innerStrokeColor]= "'#1D2534'" [showBackground]="false" [responsive]="true">
      </circle-progress>

      <div class="reqcal">
         <em>{{calPerDay}}</em><span>Calories</span>
      </div>
   </ion-col>
</ion-row> -->
<!-- <ion-row class=" fulpad week">
  <button ion-button> Mon </button>
  <button ion-button> Tue </button>
  <button ion-button> Wen </button>
  <button ion-button class="active"> Thu </button>
  <button ion-button> Fri </button>
  <button ion-button> Sat </button>
  <button ion-button> Sun </button>
  
  <em>25 July, 2019</em>
</ion-row> -->


<ion-fab class="fabicon ">
   <ion-fab-button (click)="addMeal()">
      <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 84 84">
         <g id="add" transform="translate(-654.5 -785.5)">
            <path id="Path_8229" data-name="Path 8229" d="M494.087,1656.771h80" transform="translate(162.413 -829.271)" fill="none" stroke="" stroke-linecap="round" stroke-width="4"/>
            <path id="Path_8230" data-name="Path 8230" d="M0,0H80" transform="translate(696.5 787.5) rotate(90)" fill="none" stroke="" stroke-linecap="round" stroke-width="4"/>
         </g>
      </svg>
   </ion-fab-button>
   <!-- <ion-fab-button (click)="newgoalclick()">Goal</ion-fab-button> -->
 </ion-fab>
 


 </ion-content>
  <!-- <ion-footer class="foot" >
   <ion-row class="btnrow">
      <ion-button (click)="addMeal()" class=" addmeal">
         Add Meal
      </ion-button>
   </ion-row>
   </ion-footer> -->



