
    
    // .diet {
    //     .fixed-content {margin-bottom: 0 !important;}
    //     .scroll-content  {margin-bottom: 0 !important;}
    // }
    // ion-item {margin-bottom: 5px !important;}

.ios{
    .fabicon{bottom: 6rem !important;}
}
.reqcal {
    color: #ff0000;
}

.h-20px {min-height: 20px;}
.contin .week { margin-bottom: 20px !important;}
.nobgb {border-bottom: 0 !important;}

.cgraph ion-col{border-bottom: 1px solid #ccc;}

.done {top: 0; bottom: 0; right: 0; left: 0;}
.done svg{position: absolute;left: 0; background-color: #fff; right: 0; z-index: 999;top: 3rem;width: 3rem;height: 3rem;}
.done:before { content: ""; background-color: rgb(0 0 0 / 52%);position: absolute;left: 0;right: 0;bottom: 0;top: 0;}
