page-dietprofile {
    
    .diet {
        .fixed-content {margin-bottom: 0 !important;}
        .scroll-content  {margin-bottom: 0 !important;}
    }
    .card {box-shadow: none !important; background: none !important;}
    .item {margin-bottom: 5px !important;}
    





  

}