<ion-content class="pcview">
  <div class="pcover">
      <img src="assets/images/pcview.jpg"  >
     
  </div>

  
    <div class="poverlay">
        <div class="pctitle ">
            <div class="done">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                  <circle cx="26" cy="26" r="25" fill="none"/>
                  <path fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                </svg>
              </div>


                    
            <!-- <h2>Hey, <span>{{firstname}}!</span></h2> -->
            <!-- <h3>Downloading program, please wait!</h3> -->

            <h3>You are all set!</h3>
            <p>Please wait  <br> While we load strength building goals for you to choose from. </p>
        </div>
        <div class="loader" >

            <div class="progress-outer">
                <div class="progress-inner" [style.width]="percent + '%'">
                    {{percent}}%
                </div>
            </div>
        </div>
    </div>
  
</ion-content>

