
   
.dcard {margin-bottom: 10px !important; border-bottom-style: solid; border-bottom-width: 1px; 
    h3{margin: 0px !important;}
    ion-row { position: relative; 
        ion-col {padding: 12px 16px; }
        span {font-weight: normal !important; }
        .adrop{position: absolute; right: 12px; top: 10px;
            svg {width:18px !important; height:18px !important;}
        }
    }
    

    .ansview{padding: 10px 15px 20px 25px;
        p{white-space: inherit !important;}
        ul{ padding-left: 8% !important;line-height: 1.6 !important;}
       
        .pad {padding:10px 16px 16px 16px;}
        

    }

    b {font-weight:normal !important;}
    // p{margin-top: 0 !important;}
    p {margin-top: 0 !important; white-space: break-spaces !important; }


}



