.dcard {margin-bottom: 10px !important; 
    ion-row { position: relative; 
        ion-col {padding-right:16px; padding-bottom: 10px;}
        span {font-weight: normal !important; }
        .adrop{position: absolute; right: 5px; top: 10px;
            svg {width:18px !important; height:18px !important;}
        }
    }
    

    .ansview{padding: 10px 10px 20px 25px;
        ul{ padding-left: 8% !important;line-height: 1.6 !important;}
       
        .pad {padding:10px 16px 16px 16px;}
        

    }

    b {font-weight:300 !important;}
    // p{margin-top: 0 !important;}


}

.dcard p {margin-top: 0 !important;}


