
.scroll-content{padding:40px 20px 0 20px !important;}

.fulpad {padding: 10px 15px !important;}

.chetxt { font-size: 16px; padding: 0;}
.chetxt ion-label{white-space:normal; margin-bottom: 0 !important; margin-top: 0;}

ion-checkbox{ margin: 0 !important;}
// ion-checkbox .checkbox-icon, ion-checkbox {display:inline-block; --background:none !important; --border-color:#59800D !important;}
ion-checkbox .item-cover {width: auto;}
// .checkbox-checked{  --background-checked:#59800D !important;  --border-color-checked: #59800D !important}
.checkbox-md .checkbox-icon {width:18px !important; height:18px !important;}
.checkbox-md .checkbox-checked .checkbox-inner {left:5px; top:1px;}
