<ion-header class="head ">
  <!-- <ion-navbar class="hedfm"> -->
      <ion-title>{{planname}}</ion-title>
  <!-- </ion-navbar> -->
</ion-header>


<ion-content class="exeinfo">
 
<div class="fulpad activecover">
  <h2 margin-top>Program has been completed.</h2>
  <div class="datecard">
   <p> Please subscribe again or choose new program</p>
   <ion-button class="startBtn" (click)="planRenew()">Subscribe</ion-button>
   <ion-button class="outline" (click)="openTab('store')">Browse Programs </ion-button>


 </div>
</div>
 
</ion-content>
