inst-popup{
    .label-md{
        text-align: center;
        white-space: inherit;
    }
    
    .item-md{
        background-color: #fff;
        height: 100%;
    }
    .scroll-content{
        background-color: #fff;
        text-align: center;
        padding: 6%;
    }
}