<ion-header>
  <ion-toolbar color="toolbg">
      <ion-buttons start>
          <ion-button ion-button icon-only start (click)="backButtonAction()">
              <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title text-center>About Program Structure</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ol class="abpland">
          <li>
              <b>A repetition</b>, also known as a rep for short, is one completion of an exercise: one Deadlift, one Bench
              press, one Squat.</li>

          <li>
              <b>A set</b> is a series of repetitions. For example, eight repetitions can be one set of bench presses.</li>

          <li>
              <b>Microcycle:</b> A micro-cycle is defined as a number of training sessions, built around a given combination
              of acute program variables, which include progression as well as alternating effort (heavy vs. light days).
              <br>
              <ol type="a">
                  <li>In Starter program, the exercise progresses rapidly – Progression is planned for every successive session
                      with a break day in-between.</li>
                  <li>In Intermediate program, the micro cycle is one week long and progression can happen at the end of Microcycle,
                      if the progression rule is designed to trigger at Microcycle.</li>
              </ol>
          </li>

          <li>
              <b>Mesocycle:</b> A Mesocycle can be defined as a number of continuous weeks where the training program emphasizes
              the same type of physical adaptations.
              <br>
              <ol type="a">
                  <li>There are no Mesocycle in starter program </li>
                  <li>In an Intermediate / Advanced program and progression can happen at the end of Mesocycle, if the progression
                      rule is designed to trigger at Mesocycle.</li>
              </ol>
          </li>
          <li>
              <b>Period:</b> A unit of training time which consists of Mesocycles which are sequenced to bring about a certain
              overall training effect.
              <br>
              <ol type="a">
                  <li>
                      <b>General Period:</b> The period of the Macrocycle in which General Physical Preparedness (as opposed
                      to Special Physical Preparedness) is primarily focused on and developed. The primary goal of the
                      general period is to prepare the athlete's physical system for the specialized work to come in the
                      Specific Period. The GP follows the end of a competitive season, and at it's beginning has the goal
                      of ensuring full restoration of the athlete's physical system before more accumulative training is
                      done. </li>

                  <li>
                      <b>Specific Period:</b> The period of the macrocycle which has the purpose of transforming the General
                      Physical Preparedness developed in the General Period into Special Physical Preparedness required
                      in competition or in the competitive season, or to reach a specific goal of a non-competitive trainee.
                      It occurs concurrently with the time that technical and tactical coaches call "pre-season" since
                      it leads directly into the in-season competitive period. At this point the sport coaches will be
                      honing athlete's technical and tactical skills, while the strength training is specializing his/her
                      physical fitness to best utilize the skill in the sport. </li>

                  <li>
                      <b>In-Season Period:</b> The period of the macrocycle in which the main competions occur. Training in
                      the this period is designed to maintain the special physical preparedness attained during the specific
                      period while ensuring the athletes physical readiness is kept optimal for competions/matches/games.
                  </li>
              </ol>
          </li>
          <li>
              <b>Break day:</b> Rest Period between session days </li>
          <li>
              <b>Off day:</b> Weekly day off (7th day from Start of the Program) </li>
      </ol>
  </ion-list>
</ion-content>