.head {background: #fff; position: sticky;}


.skew{ height: 250px; background: #fff;padding-top: 60px !important; padding-right: 0 !important; margin-bottom: 60px; position: relative; }
.skew:before{content: ""; position: absolute; left: -10px; right: -10px; bottom: -20px; transform: scale(1) rotate(-5deg); height: 40px; background:#fff;}

.aintro img{width: 140% !important;} 
// .aintro{
//     [size="12"]{margin-bottom: 10px !important;}
//     span{ font-size: x-large !important; }
// }
 



.goals {
    .iconcard{ text-align: left !important; min-height: 100px;
        em, span, svg {color: #fff !important; fill: #fff !important;  display: block;}
        svg {width:26px !important; height: 26px !important;}
        span {font-weight: 900 !important; font-size: large; margin-bottom: 6px;}
        em{font-size: small !important; font-weight: bold;}
    }
    ion-col:nth-child(1) .iconcard {background: #80745B !important;}
    ion-col:nth-child(2) .iconcard  {background: #F69C27 !important;}
    ion-col:nth-child(3) .iconcard  {background: #C2213C !important;}
    ion-col:nth-child(4) .iconcard  {background: #3397CB !important;}
    ion-col:nth-child(5) .iconcard  {background: #484D53 !important;}
    ion-col:nth-child(6) .iconcard  {background: #40AE44 !important;}
}

.nodata {padding-top: 60px !important;}


.ios .session .scrol.min{min-height: 54px !important;}
//ion-card.ios{margin-bottom: 10px !important; margin-top:0 !important;}







.fulcard { width: auto !important;  z-index: 1;
    img {height: 94px !important;  opacity: 1 !important;}
}
.fulcard:before {content:inherit !important;}
.fulcard .container {padding: 12px !important; position: relative !important; }
.fulcard .container .cdbody p {margin: 0 !important;}
.fulcard .container .cdbody span {margin-bottom: 5px !important;}
.fulcard .container .cdbody h1 {font-size: x-large  !important;  line-height: normal !important; }
.fulcard .container .cdbody h2 {margin-bottom: 0; }
.fulcard .container .cdbody .play {left: inherit; right: 20px; }

.fulcard .container, .fulcard .container p, .fulcard .container span, .fulcard .container h1 {color: #000 !important;}




.item-radio.item ion-label {font-weight: 300 !important;}
.item-radio-checked.item-md ion-label {color:#59800D !important;}
.list-md .item-block .item-inner {border-bottom: 0 !important;}

.tab-active{
    svg #Path_227 { stroke: #fff;}
    
}

// ion-app.ios{
//     .popover-content{left: unset !important; right: 0 !important;}
// }



.icr {width:1.4rem !important; height:1.4rem !important; float: right;}










// -----------------
.popover-viewport{
    .label-md, .details {
       
        color: #080b1c !important;
    }


    
    
}

