.skew{ width: 100%; height: 280px; background: #fff;padding-top: 60px !important; padding-right: 0 !important; margin-bottom: 60px; position: relative; }
.skew:before{content: ""; position: absolute; left: -10px; right: -10px; bottom: -20px; transform: scale(1) rotate(-5deg); height: 40px; background:#fff;}


.aintro{
    [size="12"]{margin-bottom: 15px; margin-top: 10px;}
    svg {margin-bottom: 10px;}
    span{display: block; font-size: x-large; font-weight: 900;}
}


.segment-button {text-align: center !important;}
.fulcard {  height: 94px !important; min-height:94px !important; max-height: 94px !important; border-radius: 0 !important;
    img {height: 94px !important;  opacity: 1 !important;}
}
.fulcard .container {padding: 14px !important;}
.fulcard .container .cdbody p {margin: 0 !important;}
.fulcard .container .cdbody h1 {font-size: 1.2rem !important; line-height: normal !important; margin-bottom: 0 !important;}






.item-radio.item ion-label {font-weight: 300 !important;}
.item-radio-checked.item-md ion-label {color:#59800D !important;}
.list-md .item-block .item-inner {border-bottom: 0 !important;}

.tab-active{
    svg #Path_227 { stroke: #fff;}
    
}

// ion-app.ios{
//     .popover-content{left: unset !important; right: 0 !important;}
// }



.icr {width:1.4rem !important; height:1.4rem !important; float: right;}










// -----------------
.popover-viewport{
    .label-md, .details {
       
        color: #080b1c !important;
    }


    
    
}

