<ion-header class=" head">
  <!-- <ion-navbar class="hedfm"> -->
    <ion-buttons ion-start >
      <ion-button icon-only (click)="backButtonAction()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.028 56">
            <path id="Back" d="M60.048,61.921a1.981,1.981,0,0,0,2.8,0,1.981,1.981,0,0,0,0-2.8L38.228,34.5,62.848,9.879a1.98,1.98,0,0,0-2.8-2.8L33.979,33.1a1.981,1.981,0,0,0,0,2.8Z" transform="translate(-33.4 -6.5)"/>
          </svg>
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-top:10px;">Coach Details</ion-title>
  <!-- </ion-navbar> -->
</ion-header>


<ion-content class=" coach coachview ">
  
<ion-row class="fulpad nopadb">

  <ion-card class="nobg user " >
        <!-- <div class="coverimg">
          <img  src={{s3Url}}{{coachData1.coachThumbnail}} *ngIf="coachData1.coachThumbnail !='' && coachData1.coachThumbnail !=null" />
          <img  src="assets/images/plan_2.png"  *ngIf="coachData1.coachThumbnail =='' || coachData1.coachThumbnail ==null"/>
          <button ion-button small class="knowbtn" (click)="opencoachurl(coachdata.coachId)">Know More</button>
        </div> -->

        <ion-item >
          <ion-avatar item-start *ngIf="coachData1.avatar !='' && coachData1.avatar !=null">
            <img src={{s3Url}}{{coachData1.avatar}} >
          </ion-avatar>
        
          <ion-avatar  item-start *ngIf="coachData1.avatar =='' || coachData1.avatar ==null">
            <img src="assets/images/icon.png"/>
          </ion-avatar>
        
          <div class="title">
            <h2 >{{coachData1.coachName}}</h2>
            <em>Fitness Strength Coach</em>
            <div class="rate">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.519 33.012">
                <path id="star" d="M18.927,2.083,22.82,9.972a1.858,1.858,0,0,0,1.4,1.017l8.706,1.265a1.859,1.859,0,0,1,1.03,3.17l-6.3,6.141a1.859,1.859,0,0,0-.534,1.645l1.487,8.671a1.859,1.859,0,0,1-2.7,1.96l-7.787-4.093a1.861,1.861,0,0,0-1.73,0L8.608,33.841a1.859,1.859,0,0,1-2.7-1.96L7.4,23.21a1.859,1.859,0,0,0-.534-1.645l-6.3-6.141a1.859,1.859,0,0,1,1.03-3.17L10.3,10.989a1.858,1.858,0,0,0,1.4-1.017l3.893-7.889A1.858,1.858,0,0,1,18.927,2.083Z" transform="translate(0 -1.047)" fill="#707070"/>
              </svg>
              <!-- <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 34.519 33.072">
                <path id="Star-outline" d="M33.77,16.035A2.476,2.476,0,0,0,32.4,11.813L24.039,10.6a1.092,1.092,0,0,1-.823-.6L19.48,2.427a2.476,2.476,0,0,0-4.44,0L11.3,10a1.093,1.093,0,0,1-.823.6L2.121,11.813A2.475,2.475,0,0,0,.749,16.035L6.8,21.93a1.094,1.094,0,0,1,.315.968L5.685,31.222a2.475,2.475,0,0,0,3.592,2.609l7.475-3.93a1.094,1.094,0,0,1,1.017,0l7.475,3.93a2.475,2.475,0,0,0,3.592-2.609L27.407,22.9a1.094,1.094,0,0,1,.315-.968Zm-7.724,7.1,1.427,8.324a1.093,1.093,0,0,1-1.586,1.153l-7.475-3.931a2.476,2.476,0,0,0-2.3,0l-7.474,3.93a1.094,1.094,0,0,1-1.586-1.153l1.427-8.324a2.476,2.476,0,0,0-.712-2.191l-6.048-5.9a1.094,1.094,0,0,1,.606-1.865l8.357-1.214a2.472,2.472,0,0,0,1.864-1.354l3.737-7.574a1.094,1.094,0,0,1,1.961,0l3.737,7.574a2.471,2.471,0,0,0,1.864,1.354L32.2,13.181a1.094,1.094,0,0,1,.605,1.865L26.757,20.94A2.475,2.475,0,0,0,26.046,23.132Z" transform="translate(0 -1.047)" fill="#707070"/>
              </svg> -->
              <em>4.7</em>
            </div>
            <!-- <div class="social">
              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20.096 37.589">
                <path id="Path_34" data-name="Path 34" d="M235.287,167.445v-18.82H242.4l1.124-6.237h-8.237v-3.127c0-1.627.611-3.181,3.287-3.181h5.347v-6.225H236.33c-6.383,0-8.125,3.67-8.125,8.756v3.773h-4.38v6.239h4.38v18.82Z" transform="translate(-223.825 -129.856)" fill="#3c5a98"/>
              </svg>
                
            </div> -->
          </div>
        </ion-item>
  </ion-card>  
</ion-row>


<ion-toolbar no-border-top no-border-bottom class="sfmenu">
  <ion-segment class="segment-activated" [(ngModel)]="coachProfile">
    <ion-segment-button value="programs" >Programs</ion-segment-button>
    <ion-segment-button value="about" >About</ion-segment-button>
  </ion-segment>
  
</ion-toolbar>


<div [ngSwitch]="coachProfile" >

  <ion-list *ngSwitchCase="'programs'">


    <ion-slides loop="false" speed="500" pager="true" spaceBetween="0" direction="vertical"slidesPerView="1"effect="slide"pager="false" zoom="true">
      
      <ion-slide class="fulcard " *ngFor="let plan of plansdata; let i = index" (click)="viewplaninfo(plan)">
        <div *ngIf="plan.planType=='Intermediate'"></div>
            <img src="{{plan.programPhoto}}" (error)="onImageError(plan)" *ngIf="plan.planPhoto !='' && plan.planPhoto !=null">
            <img src="assets/images/plan_2.png" *ngIf="plan.planPhoto =='' || plan.planPhoto ==null">
       
          <div class="container">
            <div class="cdbody">
              <span>{{plan.duration_weeks}} Weeks - {{plan.planType}}</span>
              <h1>{{plan.planName}}</h1>
              <!-- <p>{{plan.createdBy_id__first_name}}</p> -->
            
              <em>Watch Video</em>
              <svg id="play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path id="Path_256" data-name="Path 256" d="M56.443,106.6A50,50,0,1,0,6.4,56.6,50.014,50.014,0,0,0,56.443,106.6Z" transform="translate(-6.4 -6.6)" fill="none"  />
                <path id="Path_257" data-name="Path 257" d="M0,29.143H36.744L18.377,0Z" transform="translate(69.389 31.621) rotate(90)" fill="#fff " fill-rule="evenodd"/>
              </svg> 
            </div>
          </div>

          <div class="posabs text-center tick"  *ngIf="plan.activestatus">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.535 26.569">
                <path id="Tick" d="M79.291,45.012a2.325,2.325,0,0,0-3.144,0L53.922,65.971l-8.727-8.21a2.325,2.325,0,0,0-3.144,0,2.006,2.006,0,0,0,0,2.958L52.3,70.357a2.242,2.242,0,0,0,1.572.612,2.339,2.339,0,0,0,1.572-.612l23.8-22.387A1.966,1.966,0,0,0,79.291,45.012Z" transform="translate(-41.4 -44.4)" fill="#fff"/>
            </svg>   
          </div>

        
      </ion-slide>
  </ion-slides>


  </ion-list>

  <ion-list class='fulpad ' *ngSwitchCase="'about'">
      <p class=" coachdisc" [innerHTML]="aboutCoach"></p>
  </ion-list>

</div>

</ion-content>
