.welcome{
    .fulcard  {background: #080C14 !important;max-height:15rem !important; height: 15rem !important;
        img {height: auto !important; width:  68%; float: right;}
        svg {margin-bottom: 10px;}
    }
}