
.restday{ margin-bottom: 3rem;
  img {width: 30%;margin:0 auto 2rem auto;}
  h2 {margin-bottom: 1rem;}
}



.genwamup {
  ion-card {margin-bottom:10px !important;  
    ion-item.genset { --inner-border-width:0;
      ion-avatar { width: 64px !important; height: 64px;
        img {width: 100% !important; height: 674px !important;object-fit: cover;}
      }
      .gentitl {float: left; 
        h3, span {display: block;  font-size: small;}
        h3 { margin-top: 0; margin-bottom: 10px;  font-size: inherit; }
      }
      .genreps {margin-right:10px !important; font-size: small;}
    }
    .genview {display: none; margin:0 !important;
      video {width: 100% !important; vertical-align:bottom !important;}
    }
  }
  ion-card.active {
    ion-item.genset:first-child{border-radius: 10px 10px 0 0 !important; }
    ion-item.genview:last-child{border-radius:0 0 10px 10px !important;}
    .genview {display: block !important;} 
  }
    // p {margin-bottom: 30px !important;
    //     hr {background-color:#1D2534 !important;}
    // }
}




.activecover{ 
  h2{font-size: x-large;margin-bottom: 20px;}
  h3 { font-size: 1.6rem !important; margin-top: 30px;
      span {display:block !important; padding:10px; font-size: 2rem;}
  }
  .datecard{margin-top: 50px;
      p{font-size: large;}
  }
}
   
.exetab {padding-bottom: 4rem;}

    
    //.foot {
        // .tab-active{  padding-top:0;
        //     .circl {border-radius: 50%; width: 4rem; height: 4rem; background: #375FC6; margin: auto; padding: 8px; position: relative; top: -4px;
        //         svg {fill: #fff; margin: 0 auto; }   
        //     }
        //     p{color: #375FC6 !important;}
        // }
    //}

   

    .alert-ios .alert-button {min-width: 0 !important;}
    ion-scroll[scrollX] {min-height: 44px !important;}

    