page-todayworkout {

    // .head .hedfm .title {max-width: 100% !important;}
    // .head .info { padding-right: 0 !important;
    //     svg{ width: 20px !important; height: 20px !important;}
    // }
    
  

    
    
}
.workout .titl h3 {margin-top: 0 !important;}

    .restday{ margin-bottom: 3rem;
        img {width: 30%;margin:0 auto 2rem auto;}
        h2 {margin-bottom: 1rem;}
    }
    .genwamup {
      ion-card {border-radius: 0 !important;  margin: 0 !important;margin-bottom:10px !important; border-bottom-width: 1px; border-bottom-style: solid;
        ion-item{ padding: 0 !important; background: none !important; font-size: 1.4rem; border-radius: 0 !important; }
        ion-item.genset { 
            ion-avatar {border-radius: 0 !important; width: 80px !important; height: 50px; float: left; border: 0 !important; background: #fff;
              img {width: 100% !important; height: 50px !important; border-radius: 0 !important; object-fit: cover;}
            }
            .gentitl {float: left; 
              h3, span {display: block; }
              h3 {color: #fff !important;}
              span {font-size: 1.2rem; font-weight: normal;}
            }
            .genreps {color: #fff; margin-right: 0 !important;}
        }
        .genview {display: none; margin:0 !important; background: #1D2534; border-top-width: 1px solid #1D2534;
          video {width: 100% !important; vertical-align:bottom !important;}
        }
      }
      ion-card.active {
        .genview {display: block !important;} 
      }
        p {margin-bottom: 30px !important;
            hr {background-color:#1D2534 !important;}
        }
    }

    .activecover{ text-align: center;
        h2{font-size: x-large;margin-bottom: 20px;}
        h3 { font-size: 1.6rem !important; margin-top: 30px;
            span {display:block !important; color: #59800D !important; padding:10px; font-size: 2rem;}
        }
        .datecard{margin-top: 50px;
           p{font-size: large;}
        }
    }
   
    .exetab {padding-bottom: 4rem;}

    
    //.foot {
        // .tab-active{  padding-top:0;
        //     .circl {border-radius: 50%; width: 4rem; height: 4rem; background: #375FC6; margin: auto; padding: 8px; position: relative; top: -4px;
        //         svg {fill: #fff; margin: 0 auto; }   
        //     }
        //     p{color: #375FC6 !important;}
        // }
    //}

   

    .alert-ios .alert-button {min-width: 0 !important;}
    ion-scroll[scrollX] {min-height: 44px !important;}

    
