<!-- <ion-header class=" head back" >
    <ion-toolbar class="hedfm"> 

      <ion-buttons  slot="start" >
        <ion-button  class="nobg" slot="icon-only" (click)="closeRepsModal()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.028 56">
              <path id="Back" d="M60.048,61.921a1.981,1.981,0,0,0,2.8,0,1.981,1.981,0,0,0,0-2.8L38.228,34.5,62.848,9.879a1.98,1.98,0,0,0-2.8-2.8L33.979,33.1a1.981,1.981,0,0,0,0,2.8Z" transform="translate(-33.4 -6.5)"/>
            </svg>
        </ion-button>
      </ion-buttons>

        <ion-title>More Reps</ion-title>
    
  
    </ion-toolbar> 
  
</ion-header>   -->



<ion-content class=" tmax">

  <!--<div class="fulpad  " >
    <h1>{{setName}}</h1>
    <div class="infild  ">
      <ion-item class="sbgw " >
        <ion-row>
          <ion-col ><em>Work Weight</em></ion-col>
          <ion-col ><span>60kg</span></ion-col>
        </ion-row>
        </ion-item >
    </div>

    <div class="infild  ">
      <ion-item class="sbgw " >
        <ion-row>
          <ion-col ><em>Tmax</em></ion-col>
          <ion-col ><span>60kg</span></ion-col>
        </ion-row>
        </ion-item >
    </div>    
  </div>-->

  <div class="fulpad  pb8rem" >
    <h2>How many more reps possible?</h2>
    <p>This helps us regulate your Tmax for improved training experience.</p>
    <div class="infild" *ngFor="let action of complexActions;let i = index">
      <h4>{{exDetailsComplex[i].exerciseName}}</h4>
      <ion-item class="sbgw " >
        <ion-row>
          <ion-col ><em>More Reps</em></ion-col>
          <ion-input class="text-center" type="number" name="repscount" [(ngModel)]="action.more_reps" required></ion-input>
        </ion-row>
        </ion-item >
        
    </div>

    <!-- <ion-button slot="end" (click)='closeRepsModal()'> 
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212 212">
      <g id="Tick" transform="translate(-455.422 -895.106)">    
          <path id="Path_199" data-name="Path 199" d="M140.641,46.087a5.868,5.868,0,0,0-8.235,0L74.2,103.861,51.338,81.229a5.868,5.868,0,0,0-8.235,0,5.729,5.729,0,0,0,0,8.153L69.937,115.95a5.715,5.715,0,0,0,4.117,1.687,5.958,5.958,0,0,0,4.117-1.687L140.5,54.24a5.609,5.609,0,0,0,.142-8.153Z" transform="translate(469.481 920.222)" fill="#fff"/>
      </g>
      </svg>   
    </ion-button> -->

  </div>






  
  <!-- <div class="fulpad tmax text-center" >
  
    

        
        <h3 >How many more reps can you do?</h3>
        <div *ngFor="let action of complexActions;let i = index">
            
            <h4 >{{exDetailsComplex[i].exerciseName}}</h4>
            <ion-item class="sbgw  admb2" > 
                <ion-input class="text-center" type="number" name="repscount" [(ngModel)]="action.more_reps" required></ion-input>
            </ion-item>
        </div>
          
          
          <ion-button slot="end" (click)='closeRepsModal()'> 
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212 212">
            <g id="Tick" transform="translate(-455.422 -895.106)">    
                <path id="Path_199" data-name="Path 199" d="M140.641,46.087a5.868,5.868,0,0,0-8.235,0L74.2,103.861,51.338,81.229a5.868,5.868,0,0,0-8.235,0,5.729,5.729,0,0,0,0,8.153L69.937,115.95a5.715,5.715,0,0,0,4.117,1.687,5.958,5.958,0,0,0,4.117-1.687L140.5,54.24a5.609,5.609,0,0,0,.142-8.153Z" transform="translate(469.481 920.222)" fill="#fff"/>
            </g>
            </svg>   
        </ion-button>

  </div> -->


  <ion-fab class="fabicon fabclose fabl3 ">
    <ion-fab-button (click)='skipRepsModal()'>Skip </ion-fab-button>
  </ion-fab> 

  <ion-fab class="fabicon fabclose fabr3">
    <ion-fab-button (click)='closeRepsModal()'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212 212">
        <g id="Tick" transform="translate(-455.422 -895.106)">    
            <path id="Path_199" data-name="Path 199" d="M140.641,46.087a5.868,5.868,0,0,0-8.235,0L74.2,103.861,51.338,81.229a5.868,5.868,0,0,0-8.235,0,5.729,5.729,0,0,0,0,8.153L69.937,115.95a5.715,5.715,0,0,0,4.117,1.687,5.958,5.958,0,0,0,4.117-1.687L140.5,54.24a5.609,5.609,0,0,0,.142-8.153Z" transform="translate(469.481 920.222)" fill="#fff"/>
        </g>
        </svg>  
    </ion-fab-button>
  </ion-fab>

  



 <!-- <ion-button slot="end" (click)='skipRepsModal()'> 
    Skip  
</ion-button> -->
  
</ion-content>

