<ion-header class=" head ">
      <ion-title><span>{{setName}}</span>Workout</ion-title>

      <ion-buttons end>
          
          <ion-button (click)='closeRepsModal()'>
              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 90.302 90.302">
                  <g id="close" transform="translate(0 0)">
                      <path id="Path_119" data-name="Path 119" d="M164.092,159.542a3.925,3.925,0,1,0-5.492,5.609L189.5,195.4a3.925,3.925,0,0,0,5.491-5.61Z" transform="translate(-105.869 -106.215)" />
                      <path id="Path_120" data-name="Path 120" d="M108.926,114.476a3.925,3.925,0,1,0,5.551-5.551L84.886,79.334a3.925,3.925,0,0,0-5.55,5.55Z" transform="translate(-78.185 -78.185)" />
                      <path id="Path_121" data-name="Path 121" d="M167.341,79.331a3.913,3.913,0,0,0-5.533,0L79.331,161.807a3.913,3.913,0,0,0,5.534,5.533l82.476-82.476A3.914,3.914,0,0,0,167.341,79.331Z" transform="translate(-78.185 -78.185)"/>
                  </g>
              </svg>
          </ion-button>  
        
    </ion-buttons>  
  <!-- </ion-navbar> -->
</ion-header>


<ion-content class=" timing">
  
  <div class="fulpad tmax" text-center >
      <!-- <h1 >Recommended<br>More reps</h1> -->
      <div class=" inpgrp" >

          <h4 text-center>Help us make your fitness program more personalized by answering this simple question.</h4>
          <h5 text-center>How many more reps can you do?</h5>
    <div *ngFor="let action of complexActions;let i = index">
          <!-- <h5 text-center><span>{{setName}}</span>{{exDetailsComplex[i].exerciseName}}</h5> -->
          <h5 text-center>{{exDetailsComplex[i].exerciseName}}</h5>
          <ion-item text-center > 
                  <ion-input type="number" name="repscount" [(ngModel)]="action.more_reps" required></ion-input>
          </ion-item>
    </div>
          <!-- <p>*This will increase your Tmax for the next workout</p> -->
          
          <ion-button (click)='closeRepsModal()'> 
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212 212">
                  <g id="Tick" transform="translate(-455.422 -895.106)">    
                      <path id="Path_199" data-name="Path 199" d="M140.641,46.087a5.868,5.868,0,0,0-8.235,0L74.2,103.861,51.338,81.229a5.868,5.868,0,0,0-8.235,0,5.729,5.729,0,0,0,0,8.153L69.937,115.95a5.715,5.715,0,0,0,4.117,1.687,5.958,5.958,0,0,0,4.117-1.687L140.5,54.24a5.609,5.609,0,0,0,.142-8.153Z" transform="translate(469.481 920.222)" fill="#fff"/>
                  </g>
                  </svg>   
              </ion-button>

      </div>
  </div>
  
</ion-content>

