<ion-content class=" sview pcview">
  <div class="pcover">
      <img src="assets/images/pcview.jpg">
     
     
  </div>

  <div class="fulcard poverlay">
      <div class="pcsuces">
      <div class="pctitle ">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212 212">
              <g id="Tick" transform="translate(-455.422 -895.106)">
                  <g id="Path_8082" data-name="Path 8082" transform="translate(461.422 901.106)" fill="none">
                  <path d="M100,0h0A100,100,0,1,1,0,100,100,100,0,0,1,100,0Z" stroke="none"/>
                  <path d="M 100 0 C 44.77153015136719 0 0 44.77153015136719 0 100 C 0 155.2284698486328 44.77153015136719 200 100 200 C 155.2284698486328 200 200 155.2284698486328 200 100 C 200 44.77153015136719 155.2284698486328 0 100 0 M 100 -6 C 158.4485931396484 -6 206 41.55140686035156 206 100 C 206 158.4485931396484 158.4485931396484 206 100 206 C 41.55140686035156 206 -6 158.4485931396484 -6 100 C -6 41.55140686035156 41.55140686035156 -6 100 -6 Z" stroke="none" fill="#fff"/>
                  </g>
                  <path id="Path_199" data-name="Path 199" d="M140.641,46.087a5.868,5.868,0,0,0-8.235,0L74.2,103.861,51.338,81.229a5.868,5.868,0,0,0-8.235,0,5.729,5.729,0,0,0,0,8.153L69.937,115.95a5.715,5.715,0,0,0,4.117,1.687,5.958,5.958,0,0,0,4.117-1.687L140.5,54.24a5.609,5.609,0,0,0,.142-8.153Z" transform="translate(469.481 920.222)" fill="#fff"/>
              </g>
          </svg> -->

          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
              <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
              <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
            </svg>
                    
                  
          <h1>Hey, <span>{{firstname}}!</span></h1>
          <h4>Thank you for activating program!</h4>
      </div>
      
      </div>

      <div class="prow pcname">
      <h3>{{uplandata.planName}}</h3>
      <p>Exercises</p>
      <div class="pcexe">
          <ion-avatar  *ngFor="let Exs of uplandata.exercises;  let j = index">
            <img src="{{Exs.newExImage}}" (error)="onExImageError(Exs)">
          </ion-avatar>
          
      </div>
  </div>
  
      <div class="pcdate">
      <p *ngIf="hideloader"> Your Personalized Workout Program is Ready!</p>
      
      <!-- <p *ngIf="hideloader"> Starts on <span>{{showStartDate}}</span></p>  -->
      </div>
      
  
      <!-- <div class="loader" *ngIf="!hideloader" >
          <h6 class="animated fadeIn infinite">Downloading Program, please wait...</h6>
          <div class="progress-outer">
              <div class="progress-inner" [style.width]="percent + '%'">
                  {{percent}}%
              </div>
          </div>
      </div> -->
  </div>
  

  

  <!-- <div class="sbtm-btn" *ngIf="hideloader">
      <button ion-button class="nobg "  (click)='displayCalendar()'>RESCHEDULE</button>
      <button ion-button class="rgt" (click)='pactivateConfirm()'>LET'S BEGIN</button>        
      <button ion-button round class="nobg rgt" (click)="next()">SIGNUP</button>
  </div> -->



  

  


</ion-content>

<ion-footer class="foot sbglb " >

  <div class="loader" *ngIf="!hideloader" >
      <h4 class="animated fadeIn infinite">Downloading Program, please wait...</h4>
      <div class="progress-outer">
          <div class="progress-inner" [style.width]="percent + '%'">
              {{percent}}%
          </div>
      </div>
  </div>

  <ion-row class="btnrow" *ngIf="hideloader">
      <ion-button (click)='pactivateConfirm()'> LET'S BEGIN </ion-button>
     
  </ion-row>
</ion-footer>