<ion-content class=" sview pcview">
  <div class="pcover ">
      <img src="assets/images/pcview.jpg">
     
     
  </div>

  <div class=" poverlay">
    <div class="pctitle ">
        <!-- <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
          </svg> -->
        <div class="done">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle cx="26" cy="26" r="25" fill="none"/>
            <path fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
          </svg>
        </div>
                  
                
        <!-- <h2>Hey, <span>{{firstname}}</span></h2> -->
        <!-- <h3> Thank you for the program activation!</h3> -->
        <h3>Thanks for activating the program</h3>
        
    </div>

      <div class=" pcname">
        <!-- <h4>Let's do the First Workout!</h4> -->
        <span>{{uplandata.durationWeeks}}</span>
        <h1>{{uplandata.planName}}</h1>
        <p>{{uplandata.coachName}}</p>

        <h3>Are you ready to lift some weights?</h3>

        <ion-item>
            <ion-label>Please choose your off day</ion-label>
            <ion-select  [(ngModel)]="dayOff" placeholder="Select One" name="dayOff">
                <ion-select-option value="0">Sunday</ion-select-option>
                <ion-select-option value="1">Monday</ion-select-option>
                <ion-select-option value="2">Tuesday</ion-select-option>
                <ion-select-option value="3">Wednesday</ion-select-option>
                <ion-select-option value="4">Thursday</ion-select-option>
                <ion-select-option value="5">Friday</ion-select-option>
                <ion-select-option value="6">Saturday</ion-select-option>
            </ion-select>
        </ion-item>
      
        <!-- <p>Exercises</p> -->
        <!-- <div class="pcexe">
            <ion-avatar  *ngFor="let Exs of uplandata.exercises;  let j = index">
                <img src="{{Exs.newExImage}}" (error)="onExImageError(Exs)">
            </ion-avatar>
            
        </div> -->
    </div>
  
    <div class="pcdate">
       <!-- <p *ngIf="hideloader"> Your Personalized Workout Program is Ready!</p> -->
        
        <!-- <p *ngIf="hideloader"> Starts on <span>{{showStartDate}}</span></p>  -->
    </div>
      
  </div>

</ion-content>

<ion-footer class="foot  " >

  <div class="loader" *ngIf="!hideloader" >
      <h4 class="animated fadeIn infinite">Downloading Program, please wait...</h4>
      <div class="progress-outer">
          <div class="progress-inner" [style.width]="percent + '%'">
              {{percent}}%
          </div>
      </div>
  </div>

  <ion-row class="btnrow" *ngIf="hideloader">
      <ion-button expand="block" (click)='pactivateConfirm()'> LET'S BEGIN </ion-button>
     
  </ion-row>
</ion-footer>