page-programdetails {

    .head .item-ios {position: absolute !important;}
    .head h2 {font-weight: 400!important;}
    .head .item-ios {padding-left: 30px !important;}
    .head .hedfm .title .toolbar-title, .head .hedfm .title .toolbar-title-md {padding-right: 0 !important;}

    .head .info { padding-right: 0 !important;
        svg{ width: 20px !important; height: 20px !important;}
    }
    

    .scroll-content {padding-bottom:50px !important;margin-bottom: 0 !important; }
    .programview {padding-bottom: 60px !important;}
    
   
    
    

    
/* Shared for all proflow types */
.proflow {  margin-bottom: 2rem;
    ion-col {padding-bottom: 0 !important;}
    ion-col:nth-child(2n+1) {padding-left: 0 !important;}
    ion-col:nth-child(2n+2) {padding-right: 0 !important;}
    ion-col:first-child{ padding-left: 0 !important;}

    // .grid {display:block; padding:14px 0 !important;font-size:1.4rem;-webkit-transition: all .2s ease-out;-moz-transition: all .2s ease-out; position: relative;
    //     h3 {margin-bottom: 0 !important;}
    //     h6 {margin-top:0 !important; font-weight: normal !important; margin-bottom: 5px;}
    //     p{font-size: 1.1rem; margin-bottom: 0; line-height: 14px; font-weight:300; padding-right: 20px;}
    //     svg {position: absolute; top:15px; right:15px; width: 1.6rem; height: 1.6rem;}
    // }
}

.foot {background: rgba(8, 12, 20, 0.9) !important;
    .button.nobg { margin-right: 0 !important;  }
}








}



