
  
  .fitness { 

    // .scroll-content{padding:15px 20px 0 20px !important;}

    h3{display: block; margin-top:0 !important;  margin-bottom: 4rem; font-size: inherit;
      ion-button { float: left; padding-left: 0 !important; --padding-start:0 !important;}
      ion-button svg {width: 1.2rem;height: 1.2rem;}
        span{display: block;  }
        em{ display: block; font-weight: bold !important; text-transform: capitalize; line-height: 36px;  }
    }
    // .text-input {color: #000 !important;}

   

    /* Height & Weight css */
    .bmeasur{  position: relative; height: 94vh;
        .posabs {right:-25vw; top:2vh; bottom: 0;
            svg {width:50vw; height: 92vh;}
        }
        .bmleft { width:70vw; 
          // .infild { margin-bottom:10px !important;
          //     h4{ text-transform: uppercase;  display: block; text-align: left !important; margin-top: 0; margin-bottom: 10px;}
          //     ion-item { margin-bottom: 0 !important; height: 44px !important; 
          //     }
              
          //     ion-row{width: 100%;
          //       ion-col { padding-right:10px !important; padding-left:10px !important; padding-top: 0 !important;
          //           ion-input, ion-datetime { 
          //             .native-input {opacity: 1 !important;}
          //           } 
          //           ion-datetime {--padding-start:0 !important ;}
          //           .last {
          //             ion-input {width: 50% !important; float: left !important;}
                      
          //           }
          //         }
          //         .text-input[disabled] {opacity: 1 !important; text-align: center !important;  margin: 5px 8px !important; }
          //         ion-col:last-child {width:34% !important; max-width: 34% !important; padding-right: 0 !important; text-transform: capitalize;
          //             ion-select {max-width: 100% !important;width: 100%; padding-left: 0 !important;} 
          //         }
          //     }
          // }
      }
         
    }

  /* training level css */
  .tlevel{ padding-top: 6vh;
    h3 {margin-bottom: 3rem !important;}

      // .levels{ 
      //   h2 {margin-top:-5px !important; margin-bottom: 0 !important;  }
      //   h2, p {margin-left: 25px;}
      //   p{ display: block; font-size: small; }

      

      // .levelopt { width: 100%;padding: 20px !important;  border-radius: 3px; margin-bottom:10px; position: relative; cursor: pointer;}
      // .levelopt.active { box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15); }
      // .levelopt p{margin-bottom: 0; display: none; line-height: inherit !important;}
      // .levelopt:before, .levelopt.active:after {content: ""; position: absolute; left:13px; top:19px;  border-radius: 50%; width: 12px !important; height: 12px !important; border: 1px solid #999 !important; }
    

      // .levelopt.active p {display: block !important;}
      // .levelopt.active:before { border-width: 3px !important; border-style: solid !important; }
      // .levelopt.active:after { border-width: 1px!important; border-style: solid !important; left:12px; top:18px; width: 18px !important; height: 18px !important; background: none !important; --background:none !important;}

      // .levelopt.active h2{ font-weight: bold !important; display: block;  }

      // }

      .levels{ 
        h2 {margin-top:-5px !important; margin-bottom: 0 !important; font-weight: normal !important;  }
        h2, p {margin-left: 25px;}
        p{ display: block;  }

      .levelopt { width: 100%;padding: 20px !important;  border-radius:10px; margin-bottom:10px; position: relative; cursor: pointer; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08); }
      .levelopt p{margin-bottom: 0; display: none; line-height: inherit !important;}
      .levelopt:before, .levelopt.active:after {content: ""; position: absolute; left:12px; top:19px;  border-radius: 50%; width: 13px !important; height: 13px !important; border: 1px solid #999 !important; }
      // .levelopt:after { }

      .levelopt.active p {display: block !important;}
      .levelopt.active:before { border-width: 3px !important; border-style: solid !important; border-color: #fff !important;  }
      .levelopt.active:after { border-width: 1px!important; border-style: solid !important; left:11px; top:18px; width: 19px !important; height: 19px !important; background: none !important; --background:none !important;}

      .levelopt.active h2{ font-weight: bold !important; display: block; }

      }

  
  }

   
  .stmax{ padding-top: 6vh; color: #000;
      .inpgrp {
            h2 {margin-bottom: 15px;}
          p{margin-bottom: 15px;}
          ion-input{ text-align: center !important;
            input{text-align: center !important;   }
          }
      }
      ion-select{max-width: 100%; width: 100%;}
    }








    


  
  .sbtm-btn button.nobg span{ color:#000 !important}

 }







  
  /* end of training level css */

 
  

  .dobcls{
      margin-top:20px;
      .item-md, .item-ios{
          // border:1px solid color($colors, dark);
          border-radius: 6px;
          padding: 0;
      }
      .item-md.item-block .item-inner{
          padding: 0;
      }
      .datetime-md, .datetime-ios{
          margin: auto;
          text-align: center;
      }
  }
