



// ion-list {         
//     ion-item{ font-size: inherit;  font-weight: 300 !important; margin-bottom:3px;padding-left: 15px !important; padding-right: 15px !important; border-radius: 0 !important; box-shadow: none !important; border-bottom-width: 1px; border-bottom-style: solid;

//         span{margin-right: 15px !important;  float: left;
//           svg {width:20px !important; height: 20px !important;}
//         }
//         span:last-child {margin-right: 0 !important;
//           svg {width:16px !important; height: 16px !important;}
//         }

        
//     }
//     ion-item:last-child span { margin-right: 15px !important;} 
    
    
//   }





.tmax p {color: #fff !important;}

.summary  { width: 100%;
   
    .tmaxedit { font-size: inherit; padding-left: 12px !important; padding-right: 12px !important;  margin: 0 12px; margin-bottom: 8px !important; color: #000 !important; 
        
        div[slot="end"]{
            .count {padding-right: 10px; display: inline-block !important;  color: #000 !important;
                span {color:#000 !important; font-weight: bold;}
                ion-input { width: 60px; float: left; background: #fff; border-radius: 10px; text-align: center; margin-right: 10px;}
                em {line-height: 40px; }
            }
            ion-icon {color: #000;}
        }
    
        
    }

    
}
// .text-input {text-align: center !important; margin-right: 0 !important;}





.resttime{
    margin-top:5%;
}


.yesnoBtn{
    width: 70%;
    margin: auto;
    text-align: center;
}