<ion-header class=" head">
  <ion-toolbar class="hedfm"> 
    <ion-buttons  slot="start" >
      <ion-button slot="icon-only" (click)="backButtonAction()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.028 56">
            <path id="Back" d="M60.048,61.921a1.981,1.981,0,0,0,2.8,0,1.981,1.981,0,0,0,0-2.8L38.228,34.5,62.848,9.879a1.98,1.98,0,0,0-2.8-2.8L33.979,33.1a1.981,1.981,0,0,0,0,2.8Z" transform="translate(-33.4 -6.5)"/>
          </svg>
      </ion-button>
    </ion-buttons>

    <ion-title>Training Maxes </ion-title>

  </ion-toolbar> 

</ion-header>

<ion-content>
    <div  class="fulpad" *ngIf='skipStatus'>
      <strong >values based on your Fitness Profile</strong>
    </div>

      
    <form #tmaxForm="ngForm">
      <ion-list class="summary">
        
        <ion-item class="tmaxedit sbgw nopad" *ngFor='let extra of allExercises; let i = index;'>
          <span>{{extra.exerciseName}}</span>
          <div slot="end">
            <div class="count" id='ex{{extra.id}}'>
              <span>{{extra.tmax}}</span> <em>{{extra.wMetric}}</em>
            </div>
            <ion-icon name="pencil-outline" (click)='tmaxShowPreview(extra,extra.exerciseName,extra.tmax,extra.wMetric)'></ion-icon>    
          </div>
        </ion-item>
        
      
      </ion-list>
    </form>


 


<!--<div class="text-center" *ngIf='firstTime && !tmaxretest'>
  <div class='resttime'>
    <h4 text-wrap>After the Tmax Test 72 Hours rest time is recommended</h4>
    <h4 text-wrap>Do you want to change the start date?</h4>
  </div>
  <ion-row >
    <ion-col size="6">
      <ion-button class="yesnoBtn" block (click)='changeSDate()'>Yes</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button  class="yesnoBtn" block  (click)='gotoHome()'>No</ion-button>
    </ion-col>
  </ion-row>
</div>-->

</ion-content>
