
.verify { 
    svg {height: 4rem;width: 4rem;}

    h5 {font-size:large;}
    ion-row {margin-bottom:15px !important;}
    ion-input { padding:10px 5px; margin-left: 10px; margin-bottom:15px; background:#fff;display: inline-block; --padding-start:0 !important; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08) !important; border-style: solid; border-color: #ccc;
        .text-input {margin: 5px !important; padding: 0 !important;text-align: center !important; }
    } 
    ion-input:first-child {margin-left: 0;}

}

.foot .btnrow ion-button {float: none !important;}