page-signupverify {

   

}
.verify { --color:#fff;
    svg {height: 4rem;width: 4rem; fill:#707070;}
    h2 {color: #59800D;}
    h5 {font-size: 1.4rem;}
    .row {margin-bottom:15px !important;}
    ion-input { padding:10px 5px; margin-left: 1rem;display: inline-block; width:46px; border-radius: 3px; background: #fff !important; color:#000 !important; --padding-start:0 !important;
        .text-input {margin: 5px !important; padding: 0 !important;text-align: center !important; }
    } 
    ion-input:first-child {margin-left: 0;}

}