

.refer img {
  
   margin: auto;
   width: 150px;
   height: 150px;
}

h4{margin-bottom:1rem; margin-top: 0;
    strong {font-size: larger; display: block; padding: 10px;}
}

ion-button {margin: 0 !important;}
// .emailinput ion-icon{
//     padding: 0; padding-left: 10px;
//     // color: color($colors, fdark);
//     font-size: x-large;
// }
// .emailinput{
//     text-align: center;
//     margin: auto;
//     width:90%;

    
// }
