<ion-header class=" head">
    <ion-title><span>Your</span>Training Maxes </ion-title>
    <ion-buttons end>
        <!-- <button ion-button clear class="outline" (click)='gotoHome()'><ion-icon name="body"></ion-icon>Start Workout</button> -->
        <ion-button (click)='closeTmax()'>Next</ion-button>
        <ion-button [hidden]="isEditDisable"  (click)='editTmax()'>Save</ion-button>
      </ion-buttons>
  <!-- </ion-navbar> -->
</ion-header>

<ion-content class="sbgrd exeinfo tmax">
  <div class="fulpad ">

      <p>Training Tmax is the maximum weight you could do for 1Rep for an exercise.</p>
      <p>Stratfit has approx estimated your training maxes based on your biometric data and training level.</p>
      <p>Stratfit will auto correct your training maxed during training or you can maually change their at any time.</p>
      
</div>
  <div  class="fulpad">

      <strong *ngIf='skipStatus'>Values based on your Fitness Profile</strong>

   <ion-grid class="summary">
      <ion-row  *ngFor='let extra of allExercises'>

        <ion-col col-8 align-self-center>
          <h5>{{extra.exerciseName}}</h5>
        </ion-col>

        <ion-col align-self-center>
            <!-- (ionInput)='validatenumber(extra.updatetmax)'-->
          <ion-input type="number" id='ex{{extra.id}}'
           [disabled]="isEditDisable"
           [(ngModel)]='extra.tmax' required></ion-input> 
         
          <h5>{{wMetric}}</h5>
           
        </ion-col>

      </ion-row>


    </ion-grid>


  </div>
<div *ngIf='firstTime && !tmaxretest'>
  <div class='resttime'>
    <h4 text-center text-wrap>After the Tmax Test 72 Hours rest time is recommended</h4>
    <h4 text-center text-wrap>Do you want to change the start date?</h4>
  </div>
  <ion-row item-center>
    <ion-col col-6>
      <ion-button ion-button class="yesnoBtn" block (click)='changeSDate()'>Yes</ion-button>
    </ion-col>
    <ion-col col-6>
      <ion-button ion-button class="yesnoBtn" block  (click)='gotoHome()'>No</ion-button>
    </ion-col>
  </ion-row>
</div>

</ion-content>
