
    .foot .btnrow ion-button{ float: none !important;}

    // .tmax p {color: #fff !important;}

    .head ion-toolbar.hedfm ion-title{color: initial !important;}

    

 
   
    .yesnoBtn{
        width: 70%;
        margin: auto;
        text-align: center;
    }

    .text-input[disabled] {opacity: 1 !important;}

