
<ion-header class=" head sbgry">
  <ion-toolbar class="hedfm"> 
    <ion-buttons  slot="start" >
      <ion-button slot="icon-only" (click)="backButtonAction()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.028 56">
            <path id="Back" d="M60.048,61.921a1.981,1.981,0,0,0,2.8,0,1.981,1.981,0,0,0,0-2.8L38.228,34.5,62.848,9.879a1.98,1.98,0,0,0-2.8-2.8L33.979,33.1a1.981,1.981,0,0,0,0,2.8Z" transform="translate(-33.4 -6.5)"/>
          </svg>
      </ion-button>
    </ion-buttons>

    <ion-title>Training Maxes </ion-title>

   

  </ion-toolbar> 

</ion-header>

<ion-content class=" tmax sbgry">
  <div class="fulpad ">

      <!-- <p>Training Tmax is the maximum weight you could do for 1Rep for an exercise.</p>
      <p>Stratfit has approx estimated your training maxes based on your biometric data and training level.</p>
      <p>Stratfit will auto correct your training maxed during training or you can maually change their at any time.</p> -->

      <p>We boiled down your provided information to calculate your Tmax. Tmax is the maximum weight we recommend you to lift for particular exercise. </p>
      
</div>

      <div  class="fulpad" *ngIf='skipStatus'>
        <strong >values based on your Fitness Profile</strong>
      </div>

   <!-- <ion-grid class="summary">
      <ion-row  *ngFor='let extra of allExercises'>

        <ion-col size="8" align-self-center>
          <h5>{{extra.exerciseName}}</h5>
        </ion-col>

        <ion-col align-self-center>
            
          <ion-input type="number" id='ex{{extra.id}}' [disabled]="isEditDisable" [(ngModel)]='extra.tmax' required></ion-input> 
         
          <h5>{{wMetric}}</h5>
           
        </ion-col>

      </ion-row>


    </ion-grid> -->

    <ion-list class="summary nobg">
        
      <ion-item class="tmaxedit sbgw nopad" *ngFor='let extra of allExercises'>
        <span>{{extra.exerciseName}}</span>
        <div slot="end">
          <div class="count" id='ex{{extra.id}}'>
            <ion-input type="number" id='ex{{extra.id}}' [disabled]="isEditDisable" [(ngModel)]='extra.tmax' required></ion-input> 
            <em>{{wMetric}}</em>
          </div>
          <!-- <ion-icon name="pencil-outline" (click)='tmaxShowPreview(extra,extra.exerciseName,extra.tmax,extra.wMetric)'></ion-icon>     -->
        </div>
      </ion-item>
      
    
    </ion-list>


 
<!--<div *ngIf='firstTime && !tmaxretest'>
  <div class='resttime'>
    <h4 text-center text-wrap>After the Tmax Test 72 Hours rest time is recommended</h4>
    <h4 text-center text-wrap>Do you want to change the start date?</h4>
  </div>
  <ion-row item-center>
    <ion-col col-6>
      <ion-button ion-button class="yesnoBtn" block (click)='changeSDate()'>Yes</ion-button>
    </ion-col>
    <ion-col col-6>
      <ion-button ion-button class="yesnoBtn" block  (click)='gotoHome()'>No</ion-button>
    </ion-col>
  </ion-row>
</div>-->

</ion-content>

<ion-footer class="foot sbgry ">
  <ion-row class="btnrow">
      <ion-button expand="block" (click)='closeTmax()'>Next</ion-button>  
      <ion-button expand="block" [hidden]="isEditDisable"  (click)='editTmax()'>Save</ion-button>  
  </ion-row>
</ion-footer>