page-profile {
    
    .profile {
        // h2 {font-size:1.8rem !important;}
        .label  {margin-top: 0 !important; margin-bottom: 0 !important; color: #999999 !important;
            
        }

        
       
    

    }

    // .foot{

    //     .ion-col{

    //         position: initial;
    //     }
    // }
    
    
   
   
}
